@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);

body {
    color: #333;
    background-color: #fff;
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 140%;
    margin: 0 auto;
    max-width: 80ex;
    padding: 20px 40px;
}

blockquote {
    font-size: smaller;
    font-style: oblique;
}

pre, code {
    font-family: "Andale Mono", Courier, fixed-width;
    font-size: 90%;
}

pre {
    line-height: 100%;
    padding: 0.3em 1.5em;
}

table {
    border-collapse: collapse;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

table thead {
    border-bottom: 1px solid #BBB;
}

table td {
    padding: 2px 7px;
    vertical-align: top;
}

table tr.even {
    background-color: #edf5ff;
}

h1 {
  font-size: 140%;
  font-weight: normal;
}
h2 {
  font-size: 120%;
  font-weight: normal;
}
h3 {
  font-size: 110%;
  font-weight: normal;
}
h2, h3 {
    margin: 5ex 0 1.5ex 0;
}

a:link {
    color: #3060b0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #3060b0;
}

li, p {
    margin: 0 0 0.5em 0;
}

#release-notes h1 {
    margin-top: 3em;
    font-size: 140%;
    border-bottom: 1px solid #aaa;
    clear: left;
}

#release-notes h1 em {
    font-size: 71.4%; /* should take us back to 100% of body size */
    font-weight: normal;
    font-style: normal;
    float: right;
}
