body {
    font-family: Verdana, Helvetica, "sans-serif";
    margin: 20px auto;
    max-width: 80ex;
}

blockquote {
    font-size: smaller;
    font-style: oblique;
}

pre {
    padding: 0.5em 2em;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

table {
    border-collapse: collapse;
    border: 1px solid #BBB;
}

table thead {
    border-bottom: 1px solid #BBB;
}

table td {
    padding: 1px 5px;
    vertical-align: top;
}

table tr.even {
    background-color: #edf5ff;
}

h2 {
    margin-top: 3em;
}
