/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
.node {
  /* Node wrapper */
}
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
.node .node-title {
  /* Node title */
}
.node .user-picture {
  /* The picture of the node author */
}
.node .submitted {
  /* The "posted by" information */
  text-transform: uppercase;
}
.node .content {
  /* Node's content wrapper */
}
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted {
  /* A node that has been promoted to the front page */
}

.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

.node-by-viewer {
  /* A node created by the current user */
}

.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {
  /* Page content node */
}

.node-article {
  /* Article content node */
}

.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* Area page */
.field-name-field-uib-primary-media {
  float: left;
  width: 50%;
  margin-right: 10px;
}

.field-name-field-uib-bottom-media {
  float: left;
  width: 50%;
  margin-right: 10px;
}

.node-area #content p {
  color: #333;
  font-family: verdana, sans-serif;
  margin: 0;
}
.node-area #content a {
  color: #005473;
}
.node-area #content h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.2em;
  color: #333;
  font-weight: normal;
}
.node-area #content h2 {
  text-transform: none;
  border: none;
  font-weight: normal;
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.field-name-field-uib-secondary-text {
  width: 100%;
  float: left;
  margin: 20px 0 20px 0;
  background: #f5f5f5;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 15px;
}
.field-name-field-uib-secondary-text ul {
  list-style-type: none;
  margin-top: 0;
}
.field-name-field-uib-secondary-text li {
  float: left;
  margin: 10px 0 0 0;
  padding: 0 10px 0 0;
  width: 180px;
}
.field-name-field-uib-secondary-text h4, .field-name-field-uib-secondary-text p {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.field-name-field-uib-profiled-article {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #c0c0c0;
}

.node-2 {
  /* This node changes, and should be replaced with a main wrapper when the time comes. */
  width: 91%;
  padding: 0;
}

.node-area .field-collection-container {
  border: none;
  float: left;
  width: 50%;
}

/* Two column */
.group-two-column {
  width: 100%;
}

.group-two-column .field {
  margin-bottom: 10px;
}

.field-name-field-uib-link-section {
  background: #f5f5f5;
  border: none;
  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;
  padding: 5px;
}

.node-area .field-collection-view {
  border: none;
}

.field-name-field-uib-profiled-testimonial img {
  float: left;
  margin-right: 10px;
}

.field-name-field-uib-tertiary-text {
  float: left;
  width: 48%;
}

/* Article page */
.node-uib-article {
  width: 630px;
}

.field-name-field-uib-kicker, .group-article-sidebar .field-label {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  font-family: "times new roman" serif;
  font-size: 1.2em;
  text-transform: uppercase;
  width: 100%;
}

.group-article-main {
  width: 65%;
  margin-right: 5%;
  float: left;
  margin-top: 40px;
}

.group-article-sidebar {
  width: 30%;
  float: right;
  margin-top: 40px;
}

.field-name-field-uib-fact-box {
  background: #f0f4f5;
  padding: 10px;
  line-height: 14px;
}
.field-name-field-uib-fact-box p {
  font-size: .9em;
}
