/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
.node {
  /* Node wrapper */
}
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
.node .node-title {
  /* Node title */
}
.node .user-picture {
  /* The picture of the node author */
}
.node .submitted {
  /* The "posted by" information */
  text-transform: uppercase;
}
.node .content {
  /* Node's content wrapper */
}
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted {
  /* A node that has been promoted to the front page */
}

.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

.node-by-viewer {
  /* A node created by the current user */
}

.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {
  /* Page content node */
}

.node-article {
  /* Article content node */
}

.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* Area page */
.field-name-field-uib-primary-media {
  float: left;
  width: 50%;
  margin-right: 10px;
}

.field-name-field-uib-primary-text {
  width: 48%;
  float: left;
}
.field-name-field-uib-primary-text h4 {
  margin-top: 0;
}

.node-area #content p {
  color: #333;
  font-family: verdana, sans-serif;
  margin: 0;
}
.node-area #content a {
  color: #005473;
}
.node-area #content h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.2em;
  color: #333;
  font-weight: normal;
}
.node-area #content h2 {
  text-transform: none;
  border: none;
  font-weight: normal;
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.field-name-field-uib-secondary-text {
  width: 100%;
  float: left;
  margin: 15px 0 20px 0;
  background: #f5f5f5;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 15px;
}
.field-name-field-uib-secondary-text ul {
  list-style-type: none;
  margin-top: 0;
}
.field-name-field-uib-secondary-text li {
  float: left;
  margin: 10px 0 0 0;
  padding: 0 10px 0 0;
  width: 210px;
}
.field-name-field-uib-secondary-text p {
  margin: 10px, 30px, 10px, 30px;
}
.field-name-field-uib-secondary-text h4 {
  margin-left: 30px;
}

.field-name-field-uib-profiled-article {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #c0c0c0;
}

.node-area .field-collection-container {
  border: none;
  float: left;
  width: 50%;
}

.field-name-field-uib-bottom-text h4, .field-name-field-uib-tertiary-text h4 {
  margin-top: 0;
}

.field-name-field-uib-bottom-media {
  clear: both;
}

/* Two column */
.group-two-column {
  width: 100%;
  margin-top: 10px;
  float: none;
}

.group-two-column .field {
  margin-bottom: 10px;
}

/*
.field-name-field-uib-link-section {
  background: #f5f5f5;
  border: none;
  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;
  padding: 5px;
}
*/
.node-area .field-collection-view {
  border: none;
}

/*.field-name-field-uib-profiled-testimonial {
  width: 48%;
  float: right;

  img {
    margin-right: 10px;
    float: left;
  }
}

.field-name-field-uib-tertiary-text {
  float: left;
  width: 48%;
}*/
/* Article page */
.field-name-field-uib-kicker, .group-article-sidebar .field-label {
  border-top: 1px solid #c8d1d5;
  border-bottom: 1px solid #c8d1d5;
  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  text-transform: uppercase;
  color: #555;
  font-weight: normal;
  font-size: 1.2em;
  font-family: "times new roman" serif;
  line-height: 1.2em;
  float: left;
  width: 100%;
  margin: 20px 0 5px 0;
}

.field-name-field-uib-fact-box {
  background: #f0f4f5;
  padding: 10px;
  line-height: 14px;
}
.field-name-field-uib-fact-box p {
  font-size: .9em;
}

.group-article-sidebar, .group-article-main {
  margin-top: 30px;
}

.group-article-main {
  float: left;
  clear: both;
}

/* Testimonial */
.view-mode-full .field-name-field-uib-quote {
  font-size: 1.8em;
  line-height: 1.4em;
  width: 75%;
  display: block;
  position: relative;
  font-style: italic;
  font-family: "Times New Roman", Serif;
  clear: none;
  margin: 30px auto 30px auto;
}
.view-mode-full .field-name-field-uib-quote:before {
  content: "\201C";
  position: absolute;
  font-size: 100px;
  font-family: "Times New Roman", Serif;
  left: -60px;
  top: 20px;
  color: #7F7F7F;
}
.view-mode-full .field-name-field-uib-quote .field-label {
  display: none;
}

.node-area .field-name-field-uib-quote {
  font-size: 1em;
  width: 100%;
  font-style: normal;
  font-family: verdana, sans-serif;
}
.node-area .field-name-field-uib-quote:before {
  display: none;
}
.node-area .field-name-field-uib-quote:after {
  display: none;
}

/* General styling for description, copyright and photographer */
.field-name-field-uib-owner, .field-name-field-uib-copyright, .field-name-field-uib-description {
  font-size: .8em;
}
.field-name-field-uib-owner .field-label, .field-name-field-uib-copyright .field-label, .field-name-field-uib-description .field-label {
  font-weight: normal;
  border: none;
  text-transform: none;
  font-family: verdana, sans-serif;
  font-size: 1em;
  color: #333;
}

/* styles for tabs recoded from <h2> headers [module uib_h2tabs] */
.uib-tabs-container {
  width: 100%;
}
.uib-tabs-container ul {
  list-style: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #C8D2D4;
  padding: 0 0 10px 0;
}
.uib-tabs-container ul li {
  display: inline;
}
.uib-tabs-container ul li > a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  color: #AA0000;
  background-color: #FFFFFF;
}
.uib-tabs-container ul li > a:hover {
  color: #FFFFFF;
  background-color: #555555;
}
.uib-tabs-container ul > li:target > a {
  color: #FFFFFF;
  background-color: #AA0000;
}
.uib-tabs-container > div {
  display: none;
  background-color: #FFFFFF;
}

/* end of styles for tabs */
