/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
  text-transform: uppercase;
}
/* line 27, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 30, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 35, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 38, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 41, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 44, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 53, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 56, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 59, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 62, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* Area page */
/* line 68, ../sass/nodes.scss */
.field-name-field-uib-primary-media {
  float: left;
  width: 50%;
  margin-right: 10px;
}

/* line 74, ../sass/nodes.scss */
.field-name-field-uib-primary-text {
  overflow: auto;
}

/* line 78, ../sass/nodes.scss */
.field-name-field-uib-bottom-media {
  float: left;
  width: 50%;
  margin-right: 10px;
}

/* line 84, ../sass/nodes.scss */
.node-area {
  width: 630px;
}
/* line 87, ../sass/nodes.scss */
.node-area p {
  color: #333;
  font-family: verdana, sans-serif;
  margin: 0;
}
/* line 92, ../sass/nodes.scss */
.node-area a {
  color: #005473;
}
/* line 96, ../sass/nodes.scss */
.node-area h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.2em;
  color: #333;
  font-weight: normal;
}
/* line 104, ../sass/nodes.scss */
.node-area h2 {
  text-transform: none;
  border: none;
  font-weight: normal;
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 114, ../sass/nodes.scss */
.field-name-field-uib-secondary-text {
  width: 100%;
  float: left;
  margin: 20px 0 20px 0;
  background: #F5F5F5;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 15px;
}
/* line 124, ../sass/nodes.scss */
.field-name-field-uib-secondary-text ul {
  list-style-type: none;
  margin-top: 0;
}
/* line 129, ../sass/nodes.scss */
.field-name-field-uib-secondary-text li {
  float: left;
  margin: 10px 0 0 0;
  padding: 0 10px 0 0;
  width: 190px;
}
/* line 136, ../sass/nodes.scss */
.field-name-field-uib-secondary-text h4, .field-name-field-uib-secondary-text p {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

/* line 144, ../sass/nodes.scss */
.field-name-field-uib-profiled-article {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px silver;
}

/* line 151, ../sass/nodes.scss */
.page-node-2 {
  /* This node changes, and should be replaced with a main wrapper when the time comes. */
  width: 890px;
  margin: 0 auto;
}

/* line 156, ../sass/nodes.scss */
.node-area .field-collection-container {
  width: 50%;
  float: left;
  border: none;
}

/* Two column */
/* line 163, ../sass/nodes.scss */
.group-two-column {
  width: 100%;
  float: left;
}

/* line 168, ../sass/nodes.scss */
.field-name-field-uib-link-section {
  border: none;
  background: #F5F5F5;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
}

/* line 177, ../sass/nodes.scss */
.node-area .field-collection-view {
  border: none;
}

/* line 181, ../sass/nodes.scss */
.field-name-field-uib-profiled-testimonial {
  width: 48%;
}
/* line 184, ../sass/nodes.scss */
.field-name-field-uib-profiled-testimonial img {
  float: left;
  margin-right: 10px;
}

/* line 190, ../sass/nodes.scss */
.field-name-field-uib-tertiary-text {
  width: 48%;
  float: left;
}
