/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.view-ansatte {
  float: right;
}

/* Webdesk */
/* Buttons */
/* More button in the "My content" section" */
/* Button hovers */
.views-field-edit-node a:hover, .views-field-delete-node a:hover {
  opacity: 1;
  text-decoration: none !important;
}

.bef-datepicker {
  padding: 4px;
  border: solid 1px #A2A2A2;
  box-shadow: 0px 1px 3px #D7D7D7 inset;
  font-size: 1.3em;
  color: #4D4D4D;
}

.vbo-views-form {
  background: #EEE;
}

table.cols-6 {
  width: 98%;
  margin: auto;
}

/* Views in area */
.view-area-kids {
  width: 48%;
  float: left;
}
.view-area-kids h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

/*Area slideshow*/
.view-area-slideshow {
  position: relative;
}
.view-area-slideshow p {
  margin: 0;
}
.view-area-slideshow .lead {
  width: 50%;
  float: left;
}
.view-area-slideshow .ciclepager {
  padding: 4px;
}
.view-area-slideshow .eventdata {
  width: 30%;
  float: right;
}
.view-area-slideshow #transparent {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 35%;
  background: #000;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.6;
}
.view-area-slideshow #slidecontent {
  color: #fff;
  position: absolute;
  bottom: 2%;
  left: 6%;
}
.view-area-slideshow #slidecontent h3 {
  color: #fff;
}
.view-area-slideshow #widget_pager_bottom_area_slideshow-default {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 7%;
}
.view-area-slideshow .views-slideshow-pager-field-item {
  float: left;
  padding: 10px;
}
.view-area-slideshow #views_slideshow_controls_text_previous_area_slideshow-default {
  height: 0px;
  padding-top: 26px;
  position: absolute;
  bottom: 10%;
  overflow: hidden;
  left: 0;
  z-index: 100;
  background: url(../images/arrow_left.png) no-repeat scroll 0% transparent;
}
.view-area-slideshow #views_slideshow_controls_text_next_area_slideshow-default {
  height: 0;
  padding-top: 26px;
  overflow: hidden;
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 100;
  background: url(../images/arrow_right.png) no-repeat scroll 0% transparent;
}
.view-area-slideshow #views_slideshow_controls_text_pause_area_slideshow-default {
  display: none;
}
.view-area-slideshow .views-slideshow-pager-fields .active img {
  border: 2px solid #fff;
}

/* Calendar */
.view-display-id-block_3 {
  /* Calendar category */
  float: left;
}
.view-display-id-block_3 .item-list ul li {
  float: left;
  width: 120px;
}

.view-display-id-page_2, .view-display-id-page_4 {
  /* Calendar feed */
  margin-top: 15px;
}
.view-display-id-page_2 .view-header h3, .view-display-id-page_4 .view-header h3 {
  font-weight: normal;
  padding-bottom: 0;
}
.view-display-id-page_2 .date-nav, .view-display-id-page_4 .date-nav {
  padding-bottom: 0;
}
.view-display-id-page_2 .date-prev li, .view-display-id-page_4 .date-prev li {
  background: red;
}
.view-display-id-page_2 .view-content h3, .view-display-id-page_4 .view-content h3 {
  font-weight: normal;
}
.view-display-id-page_2 .date-nav-wrapper .date-prev, .view-display-id-page_4 .date-nav-wrapper .date-prev {
  left: 0;
  right: 290px;
}

.view .date-nav-wrapper .date-heading h3 {
  font-size: 1em;
}

.view-display-id-block_2 {
  /* Calendar */
  float: none;
  margin-left: 0;
}
.view-display-id-block_2 .view-header h3 {
  font-weight: normal;
}
.view-display-id-block_2 tr td.today {
  background-color: #B84525;
}
.view-display-id-block_2 .mini-day-on {
  padding: 5px;
  background-color: #DFDFDF;
}
.view-display-id-block_2 .has-no-events {
  background-color: #F1F1F1;
}
.view-display-id-block_2 .date-nav {
  padding-bottom: 0;
}
.view-display-id-block_2 .has-no-events, .view-display-id-block_2 .mini-day-on {
  padding: 10px;
}
.view-display-id-block_2 .calendar-calendar td {
  text-align: center;
}

.view-display-id-newsarchive .view-content {
  float: right;
}
.view-display-id-newsarchive .view-content h3 {
  font-size: 2em;
}
