/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.view-ansatte {
  float: right;
}

/* Webdesk */
/* Buttons */
/* More button in the "My content" section" */
/* Button hovers */
.views-field-edit-node a:hover, .views-field-delete-node a:hover {
  opacity: 1;
  text-decoration: none !important;
}

.bef-datepicker {
  padding: 4px;
  border: solid 1px #A2A2A2;
  box-shadow: 0px 1px 3px #D7D7D7 inset;
  font-size: 1.3em;
  color: #4D4D4D;
}

.vbo-views-form {
  background: #EEE;
}

table.cols-6 {
  width: 98%;
  margin: auto;
}

/* Views in area */
.view-area-kids {
  width: 48%;
  float: left;
}
.view-area-kids h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

/*Area slideshow*/
.view-area-slideshow {
  position: relative;
}

#transparent {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 35%;
  background: #000;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.6;
}

#slidecontent {
  color: #fff;
  position: absolute;
  bottom: 27%;
  left: 10px;
}

#slidecontent h2 {
  color: #fff;
}

#widget_pager_bottom_area_slideshow-default {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 7%;
}

.views-slideshow-pager-field-item {
  float: left;
  padding: 10px;
}

#views_slideshow_controls_text_previous_area_slideshow-default {
  height: 0px;
  padding-top: 26px;
  position: absolute;
  bottom: 10%;
  overflow: hidden;
  left: 0;
  z-index: 100;
  background: url(../images/arrow_left.png) no-repeat scroll 50% transparent;
}

#views_slideshow_controls_text_next_area_slideshow-default {
  height: 0;
  padding-top: 26px;
  overflow: hidden;
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 100;
  background: url(../images/arrow_right.png) no-repeat scroll -6px 50% transparent;
}

#views_slideshow_controls_text_pause_area_slideshow-default {
  display: none;
}

.views-slideshow-pager-fields .active img {
  border: 2px solid #fff;
}
