/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.view-ansatte {
  float: right;
}

/* Webdesk */
/* Buttons */
/* More button in the "My content" section" */
/* line 57, ../sass/views-styles.scss */
.more-link a {
  padding: 4px 30px 4px 30px;
  background: #005473;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  border-bottom: solid 1px #AEAEAE;
  border-top: solid 1px #E2E2E2;
  margin-right: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px #737373;
}

/* Edit and delete button in the webdesk */
/* line 73, ../sass/views-styles.scss */
.views-field-edit-node a, .views-field-delete-node a {
  padding-left: 1px;
  padding-right: 1px;
  color: #fff !important;
  line-height: 1.6em;
  opacity: .6;
}

/* line 81, ../sass/views-styles.scss */
.views-field-edit-node a {
  background: #005473;
}

/* line 85, ../sass/views-styles.scss */
.views-field-delete-node a {
  background: #AA0000;
  float: left;
  margin-right: 5px;
}

/* Button hovers */
/* line 93, ../sass/views-styles.scss */
.views-field-edit-node a:hover, .views-field-delete-node a:hover {
  opacity: 1;
  text-decoration: none !important;
}

/* line 98, ../sass/views-styles.scss */
.more-link a:visited {
  color: #fff !important;
}

/* line 102, ../sass/views-styles.scss */
#edit-status-wrapper, edit-uid-wrapper, #edit-field-uib-event-type-value-wrapper, #edit-created-wrapper {
  margin-bottom: 50px;
}

/* line 106, ../sass/views-styles.scss */
.bef-datepicker {
  padding: 8px;
  border: solid 1px #A2A2A2;
  width: 90%;
  box-shadow: 0px 1px 3px #D7D7D7 inset;
  font-size: 1.3em;
  color: #4D4D4D;
}

/* line 115, ../sass/views-styles.scss */
.vbo-views-form {
  background: #EEE;
}

/* line 119, ../sass/views-styles.scss */
table.cols-6 {
  width: 98%;
  margin: auto;
}
