/////////////
// Styles for elements in the header
/////////////

#header {
  .logo {
    width: 35px;
    padding: 0 10px 0 0;
    @media all and (max-width: 719px) {
      display: none;
    }
    @media all and (min-width: 720px) {
      float: left; /* LTR */
      border-right: 1px #aa0000 solid;
      width: 70px;
    }
    img {
      margin: 0 0.8889em 0 0;
      vertical-align: bottom;
      width: 100%;
    }
  }
  .site-name {
    margin: 0 0 0 -1px;
    text-align: center;
    @media all and (min-width: 720px) {
      border-left: 1px #aa0000 solid;
      font-size: 1.5em;
      float: left;
      padding: 1em 0.8889em;
      text-align: left;
      width: 75%;
      &.custom-logo {
        width: 59%;
      }
    }
    a:link,
    a:visited {
      text-decoration: none;
      font-weight: normal;
      color: $base-gray;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
}
