/**
 * @file
 * Section showing opening hours/address information.
 */

$zen-column-count: 4;

.offices {
  @include zen-clear();
  .ui-tabs-nav {
    @include zen-grid-item(1, 1);
    li {
      white-space: normal;
    }
  }
  .field-name-field-uib-hours {
    @include zen-grid-item(1, 2);
    .field-label {
      border-bottom: none 0;
      border-top: none 0;
      font-family: $verdana;
    }
  }
  .group-contact-info {
    @include zen-grid-item(1, 3);
  }
  .field-name-field-uib-geolocation {
    @include zen-grid-item(1, 4);
  }
  h3{
    font-size: 1.2em;
  }
}

.oh-current-open,
.oh-wrapper {
  display: block;
}

.offices,
.field-name-field-uib-offices
 {
  background-color: $light-grey;
}