/**
 * @file
 * Section showing opening hours/address information.
 */
.offices {
  @include zen-clear();
  margin-bottom: 10px;
  ul.ui-tabs-nav {
    background: #f1f1ef;
    border-radius: 0;
    display: none;
    li {
      border: 1px solid #666;
      float: none;
      margin: 0;
      &.ui-state-default {
        background: transparent;
        &:hover {
          background: silver;
        }
      }
      &:last-child {
        border-bottom: 1px solid !important;
      }
      &.ui-state-active {
        background:silver;
      }
      a {
        color: #333;
        float: none;
        white-space: normal;
        display: block;
        background: transparent;
      }
    }
  }
  .group-office-information {
    .field-label {
      border-bottom: none 0;
      border-top: none 0;
      font-family: $verdana;
      float: none;
    }
  }
  .group-contact-info {
    h3 {
      color: #555;
      :after {
        content: ":"
      }
    }
  }
  .group-office-information {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .field-name-field-uib-hours,
  .field-name-field-uib-custom-hours,
  .group-contact-info {
    padding-bottom: 15px;
  }
  .field-name-field-uib-geolocation {
    padding-right: 0;
  }
  h3{
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .uib-tabs-nav-mobile {
    width: 100%;
  }
  .ui-tabs-selected {
    @include insert_arrow(1, #666, right, #fff);
  }
}

.oh-current-open,
.oh-wrapper {
  display: block;
}

.uib-tabs-container.offices {
  .clearfix:after {
    clear: none;
  }
  .ui-tabs-panel {
    padding: 0;
  }
  .field {
    margin-bottom: 0;
  }
}

.offices.ui-tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px;
  display: block !important;
}

@media all and (max-width: 379px) {
  .group-office-information {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  $i: 1;
  @each $class in field-name-field-uib-hours, field-name-field-uib-custom-hours, group-contact-info {
    .#{$class} {
      -webkit-box-ordinal-group: $i;
      order: $i;
    }
    $i: $i+1;
  }
}

$zen-column-count: 2;
@media all and (min-width: 380px) and (max-width: 799px) {
  .field-name-field-uib-hours {
    @include zen-grid-item(2, 1, $gutter-width: 0);
  }
  .group-contact-info {
    @include zen-grid-item(1, 2);
  }
  .field-name-field-uib-custom-hours {
    @include zen-clear(left);
  }
  .field-name-field-uib-geolocation {
    @include zen-clear(left);
  }
}

$zen-column-count: 5;
@media all and (min-width: 800px) {
  .offices {
    .uib-tabs-nav-mobile {
      display: none;
    }
    ul.ui-tabs-nav {
      display: block;
      @include zen-grid-item(2, 1);
      padding: 0 0;
    }
    .group-office-information {
      @include zen-grid-item(2, 3);
      @include zen-nested-container();
    }
    $zen-column-count: 2;
    .field-name-field-uib-hours {
      @include zen-grid-item(1, 1);
    }
    .group-contact-info {
      @include zen-grid-item(1, 2);
    }
    .field-name-field-uib-custom-hours {
      @include zen-grid-item(2, 1);
      @include zen-clear(left);
    }
    $zen-column-count: 5;
    .field-name-field-uib-geolocation {
      @include zen-grid-item(1, 1, right);
      @include zen-clear(none);
    }
  }
}
