$social-media: (
  facebook,
  twitter,
  google-plus-share,
  linkedin,
  youtube,
  instagram,
  vimeo,
  flickr,
  github
);

@each $social in $social-media {
  .icons-social-#{$social} {
    background: inline-image("svg-icons/#{$social}.svg") left top no-repeat;
    background-size: 32px 32px;
  }
}

.uib-social-media {
  @include zen-clear();
  .field-item {
    display: inline-block;
    text-transform: capitalize;
    margin-left: 1em;
    overflow: hidden;
    height:32px;
    width: 32px;
    a:link {
      display: table-cell;
      vertical-align: middle;
      padding-left: 37px;
      height: 32px;
    }
  }
}

@media all and (min-width: 720px) {
  .node-type-area {
    .uib-social-media {
      .field-item {
        width: auto;
      }
    }
  }
}

@media all and (min-width: 720px) and (max-width: 959px) {
  /*
   * Use 4 grid columns for smaller screens.
   */
  $zen-column-count: 4;
  .node-type-area {
    .uib-social-media {
      @include zen-grid-item(4, 1);
      @include zen-grid-item-base;
    }
  }
}

@media all and (min-width: 960px) {
  $zen-column-count: 5;
  .node-type-area {
    .uib-social-media {
      @include zen-clear();
      @include zen-grid-item(4, 1);
      @include zen-grid-item-base;
    }
  }
}