/////////////
// Styles for the ansatte view
/////////////
.view-ansatte {
  .info {
    @include media_content_wrapper();
  }
  h2 {
    font-size: 1.1em;
  }
  p {
    max-width: 100%;
  }
  h2, p, .item-list ul {
    margin: 0 0 0 0;
  }
  .view-content h3 {
    color: $link-blue;
    font-size: 5em;
    line-height: 0.7em;
    margin: 0.15em 0;
  }
  .media {
    &>a,
    &>span {
      @include media(80px, left);
      margin-right: 10px;
    }
  }
  .user-competence {
    @media all and (max-width: 719px) {
      @include zen-clear();
    }
    li {
      display: inline-block;
      background: #FAEEED;
      padding: 5px 10px;
      margin: 10px 10px 0 0;
      @include border-radius(5px, 5px);
      &:nth-child(n+2) {
        padding-right: 0.5em;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @media all and (min-width: 720px) {
      ul {
        text-align: right;
      }
      li {
        margin: 0 -4px 10px 10px;
      }
    }
  }
  .view-content h3, 
  .media,
  .user-competence {
    @include zen-grid-item-base;
  }
}
.uib-ansatte-section {
  @include zen-clear();
  margin-bottom: 1em;
  &>div {
    border-bottom: solid 1px #ccc;
    margin: 0.5em 0;
    padding: 1em 0;
    @media all and (min-width: 720px) and (max-width: 959px) {
      @include zen-clear();
    }
    &:after {
      @extend %clearfix;
    }
  }
}

$zen-column-count: 4;
@media all and (min-width: 720px) and (max-width: 959px) {
  .view-ansatte {
    .media {
      @include zen-grid-item(2,1);
    }
    .user-competence {
      @include zen-grid-item(2,3);
    }
  }
}

$zen-column-count: 5;
@media all and (min-width: 960px) {
  .view-ansatte {
    h3 {
      position: absolute;
    }
    .media {
      @include zen-grid-item(3,1);
      padding-left: 9em;
    }
    .user-competence {
      @include zen-grid-item(2,4);
    }
  }
}
