/////////////
// Styles for staff listings in view and related persons section
/////////////
.group-related-persons {
  margin-bottom: 30px;
  border-top: 1px solid #dedfdd;
  @include zen-clear(left);
}
.field-name-field-related-persons-label {
  font-size: 2em;
  line-height: 2em*4/3;
}
.view-ansatte {
  .view-filters {
    background: $light-grey;
  }
  .views-exposed-widgets {
    padding-bottom: 1em;
    [type="text"] {
      box-sizing: border-box;
      padding: 0.5em;
      width: 100%;
    }
  }
  $zen-column-count:10;
  .views-exposed-widgets .views-exposed-widget {
    @include zen-grid-item-base;
  }
  @media all and (min-width: 320px) and (max-width: 599px) {
    .views-exposed-widget.views-widget-filter-field_uib_first_name_value {
      @include zen-grid-item(5,1);
    }
    .views-exposed-widget.views-widget-filter-field_uib_last_name_value {
      @include zen-grid-item(5,6);
    }
    .views-exposed-widget.views-widget-filter-field_uib_user_competence_tid {
      @include zen-clear();
      @include zen-grid-item(8,1);
    }
    .views-exposed-widget.views-submit-button {
      @include zen-grid-item(2,9);
    }
  }
  @media all and (min-width: 600px) {
    .views-exposed-widget.views-widget-filter-field_uib_first_name_value {
      @include zen-grid-item(3,1);
    }
    .views-exposed-widget.views-widget-filter-field_uib_last_name_value {
      @include zen-grid-item(3,4);
    }
    .views-exposed-widget.views-widget-filter-field_uib_user_competence_tid {
      @include zen-grid-item(3,7);
    }
    .views-exposed-widget.views-submit-button {
      @include zen-grid-item(1,10);
    }
  }
}
