/////////////
// Styles for the top-region including global menu and search form
/////////////

#top-region-wrapper {
  height: 40px;
  border-bottom: solid 1px #DDD;
  background-color: #efefef;
  @include background-image(linear-gradient(rgba(237,237,237,0) 0%, rgba(237,237,237,0.01) 1%, rgba(239,239,239,1) 100%));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ededed', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
  @media all and (min-width: 720px) {
    height: 50px;
  }
}

.mobile-logo {
  height: 40px;
  float: left;
  @media all and (min-width: 720px) {
    display: none;
  }
  img {
    display: block;
    height: 30px;
    margin: 5px;
  }
  a {
    display: table-cell;
  }
  span {
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;
  }
}

.mobile-menus {
  float: right;
  margin: 4px 0 0;
  @media all and (min-width: 720px) {
    display: none;
  }
  @media all and (max-width: 719px) {
    li {
      float: right;
      margin: 0 10px 0 0;
    }
    a {
      border: solid 1px #ddd;
      display: table-cell;
      height: 30px;
      text-decoration: none;
      text-transform: uppercase;
      vertical-align: middle;
      padding: 0 40px 0 10px;
    }
    a:link {
      color: $font-color-dark;
    }
    .mobile-show-search {
      background: inline-image("icon-ios7-search-strong.svg") #fff right no-repeat;
      background-size: contain;
    }
    .mobile-show-menu {
      background: inline-image("menu-alt.svg") #fff right no-repeat;
      background-size: contain;
    }
  }
}

#global-searchform {
  display: none;
  padding:4px 0 4px 0;
  width: 100%;
  @media all and (max-width: 719px) {
    border-bottom: solid 1px #DDD;
    background-color: #efefef;
  }
  @media all and (min-width: 720px) {
    display: block;
    padding-bottom: 0;
  }
  form {
    @media all and (max-width: 719px) {
      input[type='image'] {
        display: none;
      }
    }
    @media all and (min-width: 720px) {
      float: right;
    }
    input {
      margin: 10px 0 0 0;
    }
    input[type='text'] {
      color: #333;
      cursor: pointer;
      background-color: #FCFCFC;
      border: 1px solid #D0D0D0;
      height: 23px;
      padding-left: 3px;
      @media all and (max-width: 719px) {
        width: 90%;
        margin: 10px 5%;
      }
      @media all and (min-width: 720px) {
        float: left;
      }
    }
    input[type='text']:hover {
      background-color: #fff;
    }
    .searchbox {
      p {
        margin: 0;
      }
    }
  }
}
