/**
 * @file
 * Users and user profiles
 *
 */
$zen-column-count: 5;

.page-user-edit {
  .user-picture img {
    width: 100%;
    height: auto;
  }
  #user_user_form_group_primary {
    @include zen-grid-item(3, 1);
    .inner {}
  }
  #user_user_form_group_secondary {
    @include zen-grid-item(2, 4);
    background-color: #e5e5e5;
    border: solid 1px #cbcbcb;
    .field-name-field-uib-user-competence, .field-name-field-uib-user-projects, .field-name-field-uib-user-docs, .field-name-field-uib-user-feed {
      border-top: solid 1px #f2f2f2;
      border-bottom: solid 1px #cbcbcb;
    }
    .inner {}

  }
  #user_user_form_group_uib_hidden {
    margin: $zen-gutter-width 0 0 0;
    background-color: #fff;
    color: #ccc;
    font-style: italic;
    a:link,
    input,
    .form-item label,
    .form-item .description {
      color: #ccc;
      font-style: italic;
    }
  }
  .form-wrapper {
    @include zen-clear(both);
  }
  .language-link.tabs-secondary__tab-link.is-active {
    background: #333;
    color: #fff;
    text-shadow: none;
  }
}

#user_user_full_group_user_first,
#user_user_full_group_user_second {
  .field-label,
  .block-title,
  .ctools-collapsible-handle {
    border: none;
    color: #333;
    font-family: $verdana;
    font-size: 1.4em;
    margin-top: 0;
    text-transform: none;
  }
}

.field-name-field-uib-user-url .link-title::after {
  content: ":";
}

#edit-field-uib-first-name,
#edit-field-uib-last-name,
#edit-field-uib-user-alt-firstname,
#edit-field-uib-user-alt-lastname,
#edit-field-uib-position,
#edit-field-uib-user-alt-position {
  width: 48%;
  float: left;
}

#edit-field-uib-first-name,
#edit-field-uib-user-alt-firstname,
#edit-field-uib-position {
  padding-right: 1rem;
}

#edit-field-uib-last-name,
#edit-field-uib-user-alt-lastname,
#edit-field-uib-user-alt-position {
  clear: none;
}

#user_user_full_group_media_element {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #DEDFDD;
}

#user_user_full_group_user_second {
  .field, .block {
    border: dotted 1px silver;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media all and (min-width: 720px) {

  #user_user_full_group_user_first {
    @include zen-grid-item (3, 1);
    @include zen-grid-item-base();
    width: 58%;
   }

  #user_user_full_group_media_element {
    @include clearfix();
    @include media_element(100%, none);
  }

  .profile .user-picture {
    float: none;
    margin: 0;
  }

  #user_user_full_group_user_media {
    @include media(33%, left);
  }

  #user_user_full_group_user_contact_wrapper {
    @include media_content_wrapper();
  }

  #user_user_full_group_user_contact {
    @include media_content();
  }

  #user_user_full_group_user_ci_1 {
    box-sizing: border-box;
    width: 50%;
    padding: zen-half-gutter() zen-half-gutter() 0 0;
    float: left;
  }
  #user_user_full_group_user_ci_2 {
    box-sizing: border-box;
    width: 50%;
    padding: zen-half-gutter() 0 0 0;
    float: left;
  }


  #user_user_full_group_user_work_1 {
    @include zen-clear();
  }

  #user_user_full_group_user_second {
    @include zen-grid-item (2, 4);
    @include zen-grid-item-base();
  }
}

.page-user {
  #user_user_full_group_media_element {
    background: #f1f1ef;
    background-image: url(../images/color-strip.png);
    background-repeat: no-repeat;
    background-position: top right;

    .field-name-field-uib-first-name,
    .field-name-field-uib-position {
      float: left;
    }
    .field-name-field-uib-first-name {
      margin-right: 5px;
    }
    .field-label, .link-title {
      font-size: 1em;
    }
    .field-name-field-uib-first-name,
    .field-name-field-uib-last-name {
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
    }
    .user-picture {
      display: block;
      margin-bottom: 1em;
    }
    .uib-social-media {
      padding: 0;
      .field-item {
        width: 32px;
        margin: 0 0.5em 0 0;
      }
    }
    .uib-user-email {
      clear: both;
      margin-top: 1em;
    }
    .uib-user-vcard {
      float: right;
    }
    .uib-user-login-link {
      clear: right;
      float: right;
    }
    .field-name-field-uib-user-ou {
      clear: both;
    }
  }

  #user_user_full_group_user_second .field-label,
  #user_user_full_group_user_second .ctools-collapsible-handle,
  #user_user_full_group_user_work_1 .field-label {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  #user_user_full_group_user_second {
    .field-name-field-uib-user-competence {
      @include clearfix;
      .field-items .field-item a {
        background: #FAEEED;
        padding: 5px 10px;
        float: left;
        margin-right: 5px;
        border-radius: 5px;
        margin-bottom: 7px;
      }
    }
  }
  .uib-user-edit-button {
    padding: 10px;
  }
  #user_user_full_group_user_ci_1 .field-label,
  #user_user_full_group_user_ci_2 .field-label,
  .uib-user-email .field-label,
  .field-type-link-field .link-title {
    font-weight: bold;
    margin-top: 8px;
  }
  .field-name-field-uib-user-room .field-items,
  .field-name-field-uib-user-url {
    margin-top: 8px;
  }
  .uib-user-selected-publications,
  .uib-cristin-publications {
    ul {
      padding: 0;
    }
    li {
      margin-bottom: 0.5em;
    }
    .uib-cristin-authors {
      font-weight: bold;
    }
    .uib-cristin-journal,
    .uib-cristin-serial {
      font-style: italic;
    }
    .uib-cristin-BOK {
      .uib-cristin-title {
        font-style: italic;
      }
    }
    .uib-cristin-BOKRAPPORTDEL {
      div, ul, li {
        display: inline;
      }
      .uib-cristin-publications-set {
        .uib-cristin-authors {
          font-weight: normal;
        }
        .uib-cristin-year {
          display: none;
        }
      }
    }
  }
}
.field-name-field-uib-user-url .link-title {
  font-weight: bold;
}

/////////////
// Styling for view mode user teaser
/////////////
$zen-column-count: 4;
.group-related-persons {
  margin-bottom: 30px;
  background: $light-grey;
  border-bottom: 1px solid #dedfdd;
  border-top: 1px solid #dedfdd;
  @include zen-clear(left);
}
.field-name-field-related-persons-label {
  font-size: 2em;
  line-height: 2em*4/3;
  padding: 0 10px;
}
.field-name-field-uib-related-persons {
  &.field-label-above .field-label {
    border-bottom: none 0;
    border-top: none 0;
    font-family: $verdana;
    font-size: 1.5em;
    padding: 0.5em 10px;
    text-transform: none;
  }
  @include clearfix();
  @media all and (min-width: 720px) {
    .field-item:nth-child(odd){
      @include zen-grid-item(2,1);
      @include zen-clear(left);
    }
    .field-item:nth-child(even) {
      @include zen-grid-item(2,3);
    }
  }
  .profile {
    @include media_content_wrapper();
    .uib-user-teaser {
      padding-left: 90px;
    }
    h3 {
      border-bottom: 0;
    }
    .uib-user-phone {
      margin: 0;
    }
  }
  .user-picture {
    @include media_element(80px, left);
    margin-right: 1em;
  }
}
.page-user-edit {
  #user_user_form_group_secondary {
    background-color: #e5e5e5;
    border: solid 1px #cbcbcb;
  }
}
/////////////
// Additional styling for autocompile_deluxe module
/////////////
div.autocomplete-deluxe-multiple {
  box-sizing: border-box;
  max-width: 100%;
}
