/**
 * @file
 * Users and user profiles
 *
 */
$zen-column-count: 5;

.page-user-edit {
  .user-picture img {
    width: 100%;
    height: auto;
  }
  #user_user_form_group_primary {
    @include zen-grid-item(3, 1);
    .inner {}
  }
  #user_user_form_group_secondary {
    @include zen-grid-item(2, 4);
    .inner {}
  }
  #user_user_form_group_uib_hidden {
    margin: $zen-gutter-width 0 0 0;
    background-color: #fff;
    color: #ccc;
    font-style: italic;
    a:link,
    input,
    .form-item label,
    .form-item .description {
      color: #ccc;
      font-style: italic;
    }
  }
  .form-wrapper {
    @include zen-clear(both);
  }
}

#user_user_full_group_user_first,
#user_user_full_group_user_second {
  .field-label, .block-title {
    border: none;
    color: #333;
    font-family: $verdana;
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 0;
    text-transform: none;
  }
}

#user_user_full_group_media_element {
  border: solid 1px silver;
  margin-bottom: 20px;
  padding: 10px;}

#user_user_full_group_user_second {
  .field, .block {
    border: solid 1px silver;
    margin-bottom: 20px;
    padding: 10px;
  }
}

.uib-user-edit-button {
  @include zen-clear();
  float: right;
}

@media all and (min-width: 720px) {

  #user_user_full_group_user_first {
    @include zen-grid-item (3, 1);
    @include zen-grid-item-base();
   }

  #user_user_full_group_media_element {
    @include clearfix();
    @include media_element(100%, none);
  }

  .profile .user-picture {
    float: none;
    margin: 0;
  }

  #user_user_full_group_user_media {
    @include media(33%, left);
  }

  #user_user_full_group_user_contact_wrapper {
    @include media_content_wrapper();
  }

  #user_user_full_group_user_contact {
    @include media_content();
  }

  #user_user_full_group_user_work_1 {
    @include zen-clear();
  }

  #user_user_full_group_user_second {
    @include zen-grid-item (2, 4);
    @include zen-grid-item-base();
  }
}
