/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  .region-above-content & {
    margin-bottom: 0;
  }

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}

#block-locale-language {
  float: right;
  width: 10%;
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

.region-sidebar-second, .article-sidebar {
  .blue-block, .orange-block {
    border-bottom: 3px double #c8d1d5;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;

    h2, .field-label, .field-item {
      span {
        display: block;
        float: left;
        height: 0.7em;
        margin: 0.2em 0.2em 0;
        width: 0.35em;
      }
    }

    ul {
      margin: 0;

      li.last {
        margin: 0;
      }
    }

  }

  .blue-block {
    h2, .field-label, .field-item {
      span {
        background-color: #037caf;
      }
    }
  }

  .orange-block {
    h2, .field-label, .field-item {
      span {
        background-color: #bb5200;
      }
    }
  }
}

/* Sets a smaller font size for sidebar */
.sidebar-second .region-sidebar-second a {
  font-size: .9em;
}

.banner {
  float: right;
}

#block-uib-area-colophon-logos .banner:first-child {
  margin: 0 0 0 20px;
}

#block-uib-area-colophon {
  background-image: url('../images/logo-grey.png');
  background-repeat: no-repeat;
  background-position: left 10px center;
}

#block-uib-area-colophon .block-wrapper {
  padding: 0 0 0 95px;
}

.region-bottom .field-collection-item-field-uib-link-section .field-item a {
  color: #333;
}

.field-name-field-uib-study-category {
  display: none;
}
#block-uib-study-study-facts,
#block-uib-study-study-contact {

  table {
    background-color: #F1F1EF;
    padding: 0.5em;
    table-layout: fixed;
    width: 100%;
  }
  tr {
    border: 0 none;
  }
}

#block-uib-study-study-content,
#uib-tabs-studieplan {
  ul {
    list-style-type: disc;
  }
}

#block-uib-study-study-semester-toggle {
  ul {
    padding: 0;
  }
  li {
    padding-bottom: 0.5em;
    .is-active {
      color: #fff;
      background-color: #a00;
    }
  }
  li:last-child {
    padding-bottom: 0;
  }
}

.uib-tabs-container .ui-tabs-nav,
.uib-tabs-container.ui-tabs {
  padding: 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 1em 0;
}

table .item-list ul {
  margin: 0;
}

.uib-study-second-block {
  h2 {
    margin-top: 0;
    line-height: inherit;
  }
  ul {
    margin: 0;
  }
}
