/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  text-transform: uppercase;
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

/* Area sidebar */
.view-recent-news {
  .more-link {
    font-weight: bold;
    float: left;
    margin: 5px 0 5px 0;
  }

  .more-link:before {
    content: '→';
    color: #005473;
  }
}

.view-id-calendar {
  .more-link a {
    font-weight: bold;
    float: left;
    color:#d95900;
    margin: 5px 0 5px 0;
  }

  .more-link:before {
    content: '→';
    float: left;
    margin: 6px 5px 5px 0;
    color:#d95900;
  }
}

.view-calendar .field-content .date-display-single {
    font-weight: bold;
    color: #D95900;
}

.view-content h3  {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.view-calendar .view-content a  {
  color: #333;
}

/* Area page */
.node-area #content {

  p  {
    color: #333;
    font-family: verdana, sans-serif;
    margin: 0;
  }

  a  {
    color: $base-blue;
  }

  h4  {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
  }

  h2  {
  text-transform: none;
  border: none;
  font-weight: normal;
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
  }
}

.field-name-field-uib-secondary-text {
  width: 100%;
  float: left;
  margin: 20px 0 20px 0;
  background: #f5f5f5;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 20px;

  ul {
  list-style-type:none;
  margin-top: 0;
  }

  li {
  float:left;
  margin: 10px 0 0 0;
  padding: 0 10px 0 0;
  width:210px;
  }

  p  {
    padding: 0 30px 0 30px;
  }

  h4  {
    margin-left: 30px;
  }
  
  h3 {
    margin: 30px 0 0 30px;
  }
}

.field-name-field-uib-primary-text h4 {
  margin-top: 0;
}

.field-name-field-uib-primary-text {
  float: left;
  padding-left: 10px;
}

.field-name-field-uib-profiled-article {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #c0c0c0;
}

.node-area .field-collection-container  {
  border: none;
  float: left;
  width: 48%;
}

.field-collection-item-field-uib-link-section .field-name-field-uib-title {
  font-weight: bold;
}

.field-name-field-uib-bottom-text h4, .field-name-field-uib-tertiary-text h4 {
  margin-top: 0;
}

.field-name-field-uib-bottom-media  {
  clear: both;
  margin-top: 30px;
}

.field-name-field-uib-bottom-text {
  margin-top: 30px;
}

.group_two_colum  {
  clear: both;
}



/* Article page */
.field-name-field-uib-kicker, .group-article-sidebar .field-label  {
  border-top: $sidebar-border;
  border-bottom: $sidebar-border;
  font-family: $font-body;
  text-transform: uppercase;
  color: #555;
  font-weight: normal;
  font-size: 1.2em;
  font-family: "times new roman" serif;
  line-height: 1.2em;
  float: left;
  width: 100%;
  margin: 20px 0 5px 0;
}

.group-article-sidebar ul, .field-name-field-uib-primary-text ul, .field-name-field-uib-text ul, .field-name-field-uib-tertiary-text ul, .field-name-field-uib-tertiary-text ul, .field-name-field-uib-bottom-text ul {
    list-style-type: square;
  }

#block-uib-area-feed ul {
  list-style-type: none;
}

.field-name-field-uib-fact-box  {
  background: #f0f4f5;
  line-height: 14px;
  border-top: solid silver 1px;
  padding-bottom: 5px;

  p {
    font-size: .9em;
    padding: 10px;
  }

  h3 {
    color: #aa0000;
    font-size: 1em;
    font-weight: bold;
    width: 167px;
    border-bottom: solid 1px silver;
    padding: 4px 0 4px 10px;
  }
}

.group-article-sidebar, .group-article-main {
  margin-top: 30px;
}

.group-article-main {
  float: left;
  clear: both;
  width: 73%;
}

/* Testimonial */

.view-mode-full .field-name-field-uib-quote  {
  font-size: 1.8em;
  line-height: 1.4em;
  width: 75%;
  display: block;
  position: relative;
  font-style: italic;
  font-family: "Times New Roman", Serif;
  clear: none;
  margin: 30px auto 30px auto;

  &:before  {
    content: "\201C";
    position: absolute;
    font-size: 100px;
    font-family: "Times New Roman", Serif;
    left: -60px;
    top: 20px;
    color: #7F7F7F;
  }

  .field-label {
    display: none;
  }
}

.node-area .field-name-field-uib-quote  {
  font-size: 1em;
  width: 100%;
  font-style: normal;
  font-family: verdana, sans-serif;
  &:before{display: none};
  &:after{display: none};
}


/* General styling for description, copyright and photographer */
.field-name-field-uib-owner, .field-name-field-uib-copyright, .field-name-field-uib-description {
  font-size: .8em;

  .field-label {
    font-weight: normal;
    border: none;
    text-transform: none;
    font-family: verdana, sans-serif;
    font-size: 1em;
    color: #333;
  }
}

.group-article-sidebar .field-name-field-uib-copyright .field-label, .field-name-field-uib-owner .field-label {
  margin-top: 2px;
  margin-bottom: 0;
}

.group-article-sidebar .field-name-field-uib-copyright .field-items, .field-name-field-uib-owner .field-items {
  margin-bottom: 2px;
}


/* styles for tabs recoded from <h2> headers [module uib_h2tabs] */
.uib-tabs-container{
  width: 100%;

  ul {
    list-style: none;
    margin-bottom: 5px;
    border-bottom: 1px solid #C8D2D4;
    padding: 0 0 10px 0;

    li {
      display: inline;
    }

    li > a {
      text-decoration: none;
      display: inline-block;
      padding: 5px 10px;
      color: #AA0000;
      background-color: #FFFFFF;
    }

    li > a:hover {
      color: #FFFFFF;
      background-color: #555555;
    }

    > li:not(:target) > a {
    }

    > li:target > a {
      color: #FFFFFF;
      background-color: #AA0000;
    }
  }

  > div {
    display: none;
    background-color: #FFFFFF;
  }
}