/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  text-transform: uppercase;
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

/* Area sidebar */
.blue-block {
  .more-link {
    font-weight: bold;
    width: 100%;
    text-align: left;
  }

  .more-link:before {
    content: '→';
    color: #005473;
  }
}

.orange-block {
  .more-link {
    text-align: left !important;
    a {
      font-weight: bold;
      color: #d95900;
      margin: 5px 0 5px 0;
    }
  }

  .more-link:before {
    content: '→';
    margin: 6px 5px 5px 0;
    color:#d95900;
  }
}

/* Area page */
.node-area #content {

  p  {
    color: #333;
    font-family: verdana, sans-serif;
    margin: 0;
  }

  a  {
    color: $base-blue;
  }

  h4  {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
  }

  h2  {
  text-transform: none;
  border: none;
  font-weight: normal;
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
  }
}

.field-name-field-uib-primary-text h4 {
  margin-top: 0;
}

.field-name-field-uib-primary-text {
  float: left;
}

.field-name-field-uib-profiled-article {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #c0c0c0;
}

.group_two_column .field-collection-item-field-uib-link-section .field-name-field-uib-title {
  font-weight: bold;
}

.field-collection-item-field-uib-link-section .field-name-field-uib-links {
  margin-right: 15px;
}

.field-name-field-uib-link-section {
  box-shadow: $box-shadow;
}

.field-name-field-uib-bottom-text h4, .field-name-field-uib-tertiary-text h4 {
  margin-top: 0;
}

.group_bottom_wrapper {
  margin-top: 30px;
}

.field-name-field-uib-bottom-media  {
  clear: both;
}

.group_two_colum  {
  clear: both;
}



/* Article page */
.field-name-field-uib-main-media .field-name-field-uib-copyright .field-items {
  margin-top: 0;
}
h1 {
  font-weight: normal;
}

.views-field-field-uib-kicker,
.field-name-field-uib-kicker,
.field-label-above .field-label  {
  border-top: $sidebar-border;
  border-bottom: $sidebar-border;
  font-family: $font-body;
  text-transform: uppercase;
  color: #555;
  font-weight: normal;
  font-size: 1.2em;
  font-family: "times new roman" serif;
  line-height: 1.2em;
  float: left;
  width: 100%;
  margin: 0 0 5px 0;
}

.field-name-field-uib-main-media {
  @include zen-clear(both);
  background-color: #F1F1EF;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DEDFDD;

  .field-name-field-uib-owner, .field-name-field-uib-copyright, .field-name-field-uib-description {
    font-size: .8em;
    margin: 0 10px 0 10px;

    .field-label {
      font-weight: normal;
      border: none;
      text-transform: none;
      font-family: verdana, sans-serif;
      font-size: 1em;
      color: #333;
    }
  }
}

.uib-news-byline-created, .uib-news-byline-last-updated, .uib-article-created, .uib-article-last-updated {
  font-size: .85em;
  color: #A2A2A2;
}

#node_uib_article_full_group_article_main ul,
.field-name-field-uib-primary-text ul,
.field-name-field-uib-text ul,
.field-name-field-uib-tertiary-text ul,
.field-name-field-uib-tertiary-text ul,
.field-name-field-uib-bottom-text ul {
  list-style-type: square;
}

#block-uib-area-feed ul {
  list-style-type: none;
}

.field-name-field-uib-fact-box {
  background: #F1F1EF;
  clear: both;
  line-height: 14px;
  border-top: solid silver 1px;
  padding-bottom: 5px;

  p {
    font-size: .9em;
    padding: 10px;
  }

  h3 {
    color: #aa0000;
    font-size: 1em;
    font-weight: bold;
    width: 167px;
    border-bottom: solid 1px silver;
    padding: 4px 0 4px 10px;
  }
}

#node_uib_article_full_group_article_main,
#node_uib_article_full_group_article_sidebar {
  margin-top: 30px;
}

#node_uib_article_full_group_article_main {
  float: left;
  clear: both;
}

/* General styling for description, copyright and photographer */
#node_uib_article_full_group_article_sidebar .field-name-field-uib-copyright .field-label,
#node_uib_article_full_group_article_sidebar .field-name-field-uib-owner .field-label {
  border: none;
  color: #000;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  text-transform: none;
  width: auto;
}

#node_uib_article_full_group_article_sidebar .field-name-field-uib-copyright .field-items,
.field-name-field-uib-owner .field-items {
  width: auto;
}

.field-name-field-uib-media .content {
  background: $light-grey;
  margin: 10px 0 0;
  padding: 0 0 10px;
  font-size: .9em;
  line-height: 1.4;
}

/* styles for tabs recoded from <h2> headers */
.uib-tabs-container {
  border: none;
  .ui-widget-header {
    background: none;
    border: none;
  }
  li.ui-state-active {
    background: #aa0000;
    a {
      color: #fff;
    }
  }
  li.ui-state-default {
    border-radius: 0;
  }
}

/**
 * Menu Browser styling (http://drupal.org/project/menuux)
 */
#fmenu-browser {
  height: 280px;
  overflow-x: auto;
  overflow-y: auto;
  max-width: none;
}

/**
* Style for warning when article is not translated
*/
.uib-not-translated {
  border: solid 1px #d95900;
  background-color: #F1F1EF;
  color: #333;
  font-size: 1.5em;
  padding: 0.5em;
}

/* Shortcut menu on front page */
#bottom-region-wrapper .field-collection-item-field-uib-link-section .field-name-field-uib-title {
  font-weight: bold;
}

/* Sidebar on front page */
.front .region-sidebar-second {
  .view-frontpage-profiled-articles .views-field-title {
    font-size: 1em;
    color: red;
  }
  .date-display-single {
    font-size: .9em;
    font-weight: bold;
  }
  .view-id-frontpage_profiled_articles .views-field-title {
    margin-bottom: 7px;
  }
  .view-display-id-block_2 .views-field-title a {
    color: #333;
  }
}

#node_uib_article_full_group_article_sidebar .block-title {
  margin: 0 0 0.5em 0;
}
