/**
 * @file
 * Field based slideshow.
 */

@import "base";

.field-name-field-uib-main-media {
  width: 708px;
  height: 560px;
  .file-image {
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
