/**
 * @file
 *
 * Views Styling
 */

@import "base";

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }
  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }
  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }
  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

/**
 * Webdesk
 * Buttons
 * More button in the "My content" section"
 * Button hovers
 */
.views-field-edit-node a:hover,
.views-field-delete-node a:hover {
  opacity: 1;
  text-decoration: none !important;
}

.bef-datepicker {
  padding: 4px;
  border: solid 1px #A2A2A2;
  box-shadow: 0 1px 3px #D7D7D7 inset;
  font-size: 1.3em;
  color: #4D4D4D;
}

.vbo-views-form {
  background: #EEE;
}

table.cols-6 {
  width: 98%;
  margin: auto;
}

/* Views in area */
.view-area-kids {
  width: 48%;
  float: left;
  h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
  }
}

/* Area slideshow */
.view-area-slideshow {
  position: relative;
  margin-bottom: 20px;
  p {
    margin: 0;
  }
  .lead {
    width: 70%;
    float: left;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .ciclepager {
    padding: 5px;
    background-color: silver;
    font-size: 1px;
    border-radius: 5px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
  }
  .eventdata {
    width: 25%;
    float: right;
    margin-top: 20px;
    color: #fff;
  }
  .slidecontent {
    color: #fff;
    position: absolute;
  }
  #widget_pager_bottom_area_slideshow-default {
    position: absolute;
    z-index: 10;
    bottom: 0;
  }
  .views-slideshow-pager-field-item {
    float: left;
    padding: 10px;
    .views_slideshow_active_pager_field_item {
      border: solid 1px red;
    }
  }
  #views_slideshow_controls_text_previous_area_slideshow-default {
    height: 0;
    padding: 26px 10px 10px 10px;
    position: absolute;
    bottom: 10%;
    overflow: hidden;
    left: 0;
    z-index: 100;
    background: url(../images/arrow_left.png)  no-repeat scroll 0% transparent;
    a {
      display: none;
    }
  }
  #views_slideshow_controls_text_next_area_slideshow-default {
    height: 0;
    padding: 26px 20px 10px 10px;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    right: 0;
    z-index: 100;
    background: url(../images/arrow_right.png) no-repeat scroll 0% transparent;
    a {
      display: none;
    }
  }
  #views_slideshow_controls_text_pause_area_slideshow-default {
    display: none;
  }
  .views-content-nid {
    height: 10px;
  }
}

#widget_pager_bottom_area_slideshow-default .active {
  background-color: grey;
  border: solid 1px #595959;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0 2px 10px 2px;
}

/* Calendar */
.view-display-id-block_2 { /* Calendar */
  float: none;
  margin-left: 0;
  .view-header h3 {
    font-weight: normal;
  }
  .mini {
    padding: 0;
  }
  .mini-day-on {
    background-color: #F1F1F1;
  }
  .has-no-events {
    background-color: #F1F1F1;
  }
  .today {
    .mini-day-on {
      background: #BB5200;
      a {
        color: #fff;
      }
    }
  }
  .has-events {
    a {
      color: #BB5200;
      text-decoration: none;
    }
    .calendar-empty {
      background: #F1F1F1;
    }
  }
  .date-nav {
    padding-bottom: 0;
  }
  .has-no-events, .mini-day-on {
    padding: 10px;
  }
  .calendar-calendar td {
    text-align: center;
  }
}

/* Persons */
.view-ansatte,
.uib-ansatte-section {
  background-color: #F1F1EF;
  box-shadow: $box-shadow;
  clear: both;
  ul.pager {
    padding-top: 30px;
  }
  .ctools-auto-submit-full-form {
    margin-left: 20px;
    padding-top: 20px;
    height: 120px;
  }
  .uib-ansatte-section {
    display: block;
    float: left;
    width: 100%;
    h3 {
      float: left;
      display: block;
      height: 40px;
      width: 98%;
      padding-left: 20px;
      font-size: 2em;
      border-top: 10px solid #fff;
      padding-top: 20px;
    }
    h2 {
      border: none;
      font-family: $verdana;
      font-weight: bold;
      font-size: 1.1em;
      text-transform: none;
      margin: 0 0 5px;
    }
    .media {
      margin-left: 20px;
      float: left;
      height: 150px;
      .user-picture {
        float: left;
        margin-top: 2px;
        margin-right: 20px;
        max-width: 80px;
      }
      .info {
        float: left;
        max-width: 220px;
      }
    }
  }
}

.node-uib-testimonial .node-readmore a {
  color: #005473;
  font-weight: bold;
}
