html, body {
	margin:0;
	padding:0;
}

img {
  width: 100%;
}

.area-block-image-and-text p, .area-block p {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.byline {
  text-transform: uppercase;
}

#header {
  width: 900px;
  margin: 0 auto;
}

#global-menu ul {
  padding: 0;
  margin: 0;
  float: left;
}

#global-menu li {
  float: left;
  list-style: none;
  margin-right: 15px;
  margin-left: 0;
}

#global-menu li a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-size: 11px;
}

#global-menu li a:hover {
  text-decoration: underline;
}

a {
  font-family: helvetica, sans-serif;
}

h1  {
  font-size: 1.2em;
  margin:  0 0 0 60px;
  border-left: solid 1px #800;
  padding: 15px;
  font-family: helvetica, sans-serif;
  font-weight: normal;
}

h2  {
  font-family: "times new roman";
  color: #555;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  font-weight: normal;
  width: 100%;
  float: left;
}

form#mobile-search  {
  float: right;
  width: 200px;
  padding: 0;
  margin: 0;
}

#logo img  {
  float: left;
}

#content  {
  width: 900px;
  margin: 0 auto;
}

#main {
  width: 700px;
  float: left;
  font-family: verdana;
  font-size:12px;
  line-height: 20px;
  color: #333;
  margin-right: 30px;
}

#sidebar  {
  font-family: verdana;
  font-size:11px;
  width: 170px;
  float: left;
}

#sidebar a  {
  line-height: 1.9;
  font-size: 11px;
  font-family: verdana;
  color: #005473;
  text-decoration: none;
}

#sidebar a:hover  {
  text-decoration: underline;
}

h3  {
  font-size: 18px;
  font-family: verdana;
  font-weight: normal;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}


.article  {
  height: auto;
  margin-top: 27px;
}

.area-block-image-and-text, .area-block, .p {
  width: 100%;
  height: 100px;
  background: silver;
}

.area-block-image-and-text {
  margin-top: 36px;
}

.top-image-field  {
  height: 100px;
  width: 40%;
  background: #B3B3B3;
  float: left;
}

.top-text-field  {
  background: #A2A2A2;
  height: 100px;
  width: 60%;
  float: left;
}

/* =Navigation
-------------------------------------------------------------- */

#access {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: visible;
    z-index: 100;
}

/* style the main menu 8*/
.sf-menu {
    border-top: none;
}

ul.sf-menu li:hover > ul {
  display: block;
  background: silver;
}

/* get rid of padding and margin off all ul's (not sure about using * here, could be better) */
.sf-menu, .sf-menu * {
  margin:0;
  padding:0;
  list-style:none;
}

/* position all dropdowns off screen */
.sf-menu ul {
  position:absolute;
  top:-999em;
}

/* style the main nav list items */
.sf-menu li {
  background: #e4e4df; /* Old browsers */
  background: -moz-linear-gradient(top,  #e4e4df 48%, #d8d8d4 54%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#e4e4df), color-stop(54%,#d8d8d4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e4e4df 48%,#d8d8d4 54%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e4e4df 48%,#d8d8d4 54%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e4e4df 48%,#d8d8d4 54%); /* IE10+ */
  background: linear-gradient(to bottom,  #e4e4df 48%,#d8d8d4 54%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4df', endColorstr='#d8d8d4',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid #AFAEAC;
  border-top:1px solid white;
  float:left;
  position:relative;
  width: 20%;
}

/* change the main nav list items on hover */
.sf-menu li:hover {
  background: #d8d8d4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4df', endColorstr='#d8d8d4',GradientType=0 ); /* IE6-9 */

    visibility:inherit; /* fixes IE7 'sticky bug' */
}

/* style all the links */
.sf-menu a {
    font-size: .8em;
    color: #333;
    display:block;
    padding: 12px 0;
    text-decoration: none;
    margin-left: 10px;
}

/* style the first drop */
.sf-menu li li, .sf-menu li li:hover{
    background: none;
    background-image: none;
}

/* position first drop */
.sf-menu li:hover ul {
    top:auto; /* match top ul list item height */
    position:absolute;
}


ul.sub-menu {
  display: none;
}

ul.sub-menu li {
  width:100%;
  font-size:12px;
}

form#mobile-search {
  display: none;
}

.column-1-narrow  {
  width: 30%;
  float: left;
}

.column-2-wide  {
  width: 70%;
  float: left;
}

@media only screen and (min-width: 910px) { /* Desktop */
    header h1{
        font-size: 1.2em;
    }

    /* bigger screen bigger nav */
    #access{
        height: 50px;
    }
    /* bigger screen bigger nav */
    .sf-menu{
        width: 900px;
        margin: 0 auto;
    }
    /* bigger screen bigger font size and padding */
    .sf-menu a {
        font-size: 1em;
        padding: 17px 0;
    }

    .menu-button  {
      display: none;
    }

    .column-1 {
      width: 50%;
      float: left;
    }

    .column-2 {
      width: 50%;
      float: left;
    }

    img.top-logo {
      float: left;
      margin: 0;
      width: 5%;
    }

    .article-header {
      height: 30px;
      width: 100%;
    }

    .article-date {
      float: right;
    }

    .ingress  {
      margin-top: 75px;
    }

    .ingress  p {
      font-weight: bold;
    }

    .article-body {
      width: 70%;
      float: left;
    }

    .article-sidebar  {
      width: 30%;
      background: silver;
      float: left;
      height: auto;
    }

    .byline {
      text-transform: uppercase;
    }

    .article-latest-update  {
      float: right;
      margin-right: 10px;
      font-style: italic;
    }
}

@media only screen and (max-width: 910px) {
  #content  {
    width: 95%;
  }

  #main {
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 910px) { /* TABLETS */
  #header-info {
    max-width: auto;
    width: auto;
    float: left;
  }

  #header {
    position: relative !important;
    width: 100%;
    height: 70px;
  }

  form#mobile-search {
    display: inline;
    position: absolute;
    right: 0;
  }

  form#top-search {
    display: none;
  }

  img.top-logo {
    float: left;
    margin: 0;
    width: 10%;
  }

  h1 {
    margin: 0 0 0 25px;
    float: left;
    font-size: 16px;

  }

  .area-block-image-and-text, .area-block  {
    background: silver;
    width: 100%;
    height: 100px;
  }

  #main-middle  {
    width: 100%;
    float: left;
  }

  .column-1, .column-2 {
    width: 50%;
    float: left;
  }
/*
  #main-bottom  {
    margin-top: 480px;
    width: 50%;
  }*/

  .area-block-image-and-text {
    margin-top: 36px;
  }

  .top-image-field  {
    height: 100px;
    width: 40%;
    background: #B3B3B3;
    float: left;
  }

  .top-text-field  {
    background: #A2A2A2;
    height: 100px;
    width: 60%;
    float: left;
  }

  #sidebar  {
    width: 30%;
    float: left;
  }

  #sidebar  {
    margin-top: 15px;
    width: 100%;
  }

  .sidebar-calender, .rss-feed, .utvalgt-hendelse {
    width: 48%;
    float: left;
  }

  .sidebar-calender, .utvalgt-hendelse  {
    margin-right: 2%;
  }

  .article-body {
     width: 70%;
     float: left;
   }

  .article-sidebar  {
    height: auto;
    background: silver;
    float: left;
    width: 30%;
  }

@media only screen and (max-width: 640px) and (min-width: 320px){ /* Mobile *
    /* set height so content isn't pushed down */
    #access {
      float: left;
      height: 6px;
      width: 100%;
    }

    /* set height so content isn't pushed down add z-index to keep drops above content */
    .sf-menu  {
      height: 36px;
      z-index: 1;
      position: relative;
      top: -210px;
    }

    /* restyle so main links are horizontally aligned */
    .sf-menu li {
      clear: none;
      width: 100%; /* this will need to be adjusted for your needs */
    }

    /* new style for drop list items */
    .sf-menu li li{
      background: silver;
      clear: left;
      width: 100%;
      position: relative;
    }

    /* reposision and style the first drop */
    .sf-menu li:hover ul{
      background: #8D8D8D;
      left: auto;
      position: relative;
      top: -1;
      width: 100%;
      z-index: 100;
    }

    #header  {
      width: 100%;
      z-index:2;
      background: #fff;
      border-bottom: solid 1px silver;
      padding-bottom: 5px;
      height: 70px;
    }

    .menu-button  {
      background: #e4e4df;
      padding: 5px 50px 5px 50px;
      border-radius: 3px;
      border: solid 1px #ACACAC;
      text-decoration: none;
      font-size: 12px;
      margin-left: 22px;
      }

    .menu-button a:link  {
      color: #333;
      font-family: helvetica;
    }

    form#top-search {
      display: none;
    }

    #header-info  {
      width:100%;
    }


    h1 {
      float: left;
      font-size: 14px !important;
      padding-top: 3px;
      padding-bottom: 3px;
      border-left: solid 1px #800;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 27px;
    }

    #content  {
      width: 90%;
    }

    #main {
      width: 100%;
    }

    #global-menu li a {
      font-size: 8px;
    }

    .area-block-image-and-text, .area-block {
      background: silver;
      width: 100%;
      height: 100px;
    }

    .area-block-image-and-text {
      margin-top: 36px;
    }

    .top-image-field  {
      height: 100px;
      width: 40%;
      background: #B3B3B3;
      float: left;
    }

    .top-text-field  {
      background: #A2A2A2;
      height: 100px;
      width: 60%;
      float: left;
    }

    img.top-logo  {
      width: 9%;
      margin-top: 0;
      padding-top: 0;
      margin-right: 15px;
      margin-left: 40px;
    }

    #global-menu ul {
      padding-left: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
      float: none;
      display: inline;
      width: 100%;
    }

    #global-menu li {
      margin-right: 6px;
    }

    #header-info  {
      width: 100%;
  /*  background: red; */
      height: 25px;
      margin-left: 30px;
    }

    #main-middle  {
      width: 100%;
    }

    #sidebar  {
      width: 100%;
    }

    .sidebar-calender, .rss-feed, .utvalgt-hendelse {
      width: 100%;
    }

    .column-1, .column-2  {
      width: 100%;
    }

    .article-body {
      width: 100%;
    }

    .article-sidebar  {
      width: 100%;
    }

    .column-1-narrow  {
      float: none;
    }

    .column-1-narrow, .column-2-wide  {
      width: 100%;
    }
}

@media only screen and (min-width: 640px) {

.menu-button
  {
    display: none;
  }

  .menu {
    width:100%;
  }
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
}
}
