/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
#page,
.region-bottom,
#global-header {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
}

.page-webdesk #main,
.page-add-node #main {
  position: relative;
  width: 890px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
  #main {
    padding-top: 3em;
    /* Move all the children of #main down to make room. */
    position: relative;
    clear: both;
  }

  #navigation {
    width: 100%;
  }
}
/* Mobile */
@media all and (min-width: 240px) and (max-width: 720px) {
  #global-header {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  #global-header #global-menu ul li a {
    font-size: 7px;
    padding: 18px 4px 10px 4px;
  }
  #global-header #global-searchform form {
    float: left !important;
  }
  #global-header #global-searchform form input[type='text'] {
    background: #ededed url(../../images/search.png) no-repeat 1px;
    background-size: 18px 19px;
    width: 12px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  #global-header #global-searchform form input[type='text']:hover {
    background-color: #fff;
  }
  #global-header #global-searchform form input[type='image'] {
    display: none;
  }
  #global-header #global-searchform form input[type='text']:focus {
    width: 60px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  #global-header #global-searchform form input:-moz-placeholder {
    color: transparent;
  }
  #global-header #global-searchform form input::-webkit-input-placeholder {
    color: transparent;
  }

  .menu-block-wrapper ul.menu li {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    float: none;
    width: 100%;
  }
  .menu-block-wrapper ul.menu li a {
    font-weight: normal;
  }
  .menu-block-wrapper ul.menu li .menu {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    display: none;
    position: relative;
  }
  .menu-block-wrapper ul.menu li .menu li {
    background: none;
  }
  .menu-block-wrapper ul.menu li .menu a {
    width: 100%;
    background: none;
    border-bottom: 1px solid #C8D2D4;
    border-left: medium none;
    background: #F1F1EF;
  }
  .menu-block-wrapper ul.menu li .menu a:hover {
    background-color: #AA0000;
    background-image: none;
    color: #FFFFFF;
  }
  .menu-block-wrapper ul.menu li:hover .menu {
    display: block;
  }

  .region-bottom {
    width: 100% !important;
  }
}
/* Area mobile */
@media all and (min-width: 240px) and (max-width: 720px) {
  .field-name-field-uib-primary-media {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-field-uib-primary-text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-secondary-text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-profiled-article {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-field-uib-bottom-media {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-field-uib-bottom-text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-field-uib-link-section {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    float: none;
    width: 100%;
  }

  .field-name-field-uib-profiled-testimonial {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    float: none;
  }

  .field-name-field-uib-tertiary-text {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    float: none;
    width: 100%;
  }
}
/* Tablet */
@media all and (min-width: 720px) and (max-width: 959px) {
  /*
   * Use 4 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Area tablet */
    /* Article tablet */
  }
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    max-width: 722px;
  }
  .sidebar-second .group-article-main {
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }
  .sidebar-second .group-article-sidebar {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
  }
}
@media all and (min-width: 720px) and (max-width: 959px) and all and (min-width: 720px) and (max-width: 959px) {
  .sidebar-second #content {
    float: none;
    max-width: 722px;
    margin: auto;
  }
  .sidebar-second .field-name-field-uib-primary-media {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-right: 10px;
  }
  .sidebar-second .field-name-field-uib-primary-text {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
  }
  .sidebar-second .field-name-field-uib-secondary-text {
    clear: left;
  }
  .sidebar-second .field-name-field-uib-secondary-text li {
    width: 30%;
  }
  .sidebar-second .field-name-field-uib-bottom-media {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  .sidebar-second .field-name-field-uib-bottom-text {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  .sidebar-second .region-sidebar-second {
    float: none;
  }
  .sidebar-second .region-bottom {
    width: 100%;
  }
}
@media all and (min-width: 720px) and (max-width: 959px) and all and (min-width: 720px) and (max-width: 959px) {
  .sidebar-second #content {
    float: none;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  .sidebar-second .region-sidebar-second {
    float: none;
  }
}
/* Desktop */
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
  }
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
  }
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
/* Article page */
@media all and (min-width: 960px) {
  .group-article-main {
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }

  .group-article-sidebar {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }
}
/* Global header */
@media all and (min-width: 960px) {
  #global-menu {
    float: left;
    width: 60%;
    margin-left: 0%;
    margin-right: -60%;
  }

  #global-searchform {
    float: left;
    width: 40%;
    margin-left: 60%;
    margin-right: -100%;
  }

  #navigation {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
}
/* Area page */
@media all and (min-width: 960px) {
  .field-name-field-uib-important-message {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-field-uib-primary-media {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }

  .field-name-field-uib-primary-text {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }

  .field-name-secondary-text {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-profiled-article {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .field-name-field-uib-bottom-media {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  .field-name-field-uib-bottom-text {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }

  .field-name-field-uib-link-section {
    background: #f5f5f5;
    border: none;
    border-radius: 2px;
    moz-border-radius: 2px;
    webkit-border-radius: 2px;
    padding: 5px;
  }

  .field-name-field-uib-profiled-testimonial {
    width: 48%;
    float: right;
  }
  .field-name-field-uib-profiled-testimonial img {
    margin-right: 10px;
    float: left;
  }

  .field-name-field-uib-tertiary-text {
    float: left;
    width: 48%;
  }
}
/* Calendar */
@media all and (min-width: 960px) {
  .view-display-id-block_2 {
    /* Calender */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  .view-display-id-block_3 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }

  .view-display-id-page_4, .view-display-id-page_2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
}
/* Newsarchive */
@media all and (min-width: 960px) {
  #block-views-recent-news-block-date-selector {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  .view-display-id-newsarchive {
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
}
/* Bottom region */
@media all and (min-width: 960px) {
  .region-bottom .block {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
}
