/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 910px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count: 5;
$zen-gutter-width: 20px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;

/**
 * Create debugging grid.
 * Place this line inside a selector to expose current grid settings.
 *   @include zen-grid-background();
 */

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

/*
 * Center the page.
 */

#main,
#bottom-region-wrapper .inner,
#global-header,
#header,
#navigation .region-navigation {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
}

.page-add-node #main {
  position: relative;
  width: 890px;
}

#mobile-menu {
  display: none;
}

/**
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#content,
#footer,
#header,
#navigation,
.region-sidebar-first,
.region-sidebar-second {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */
#header,
#main,
#footer {
  @include zen-grid-container();
}

.page-node-add, .page-webdesk {
  #navigation {
    background: none;
  }
}

.field-name-field-uib-social-media {
  .field-item {
    width: 25px;
  }
}

/**
 * General bottom region layout
 */
#bottom-region-wrapper {
  @include zen-grid-container;
}
#bottom-region-wrapper .inner {
  $zen-column-count: 5;
}

.region-bottom {
  .block {
    @include zen-grid-item-base();
  }
  #block-uib-area-colophon {
    @include zen-grid-item(2, 1);
  }
  #block-views-relevant-links-block-1 {
    @include zen-grid-item(1, 3);
  }
  #block-uib-area-colophon-logos {
    @include zen-grid-item(2, 4);
  }
}

@media all and (min-width: 480px) {
  #main {
    padding-top: 0;
    position: relative;
    clear: both;
  }
  #navigation {
    width: $zen-grid-width;
  }
}

@media all and (min-width: 580px) {
  .field-name-field-uib-social-media {
    .field-item {
      width: auto;
    }
  }
  #bottom-region-wrapper .inner {
    $zen-column-count: 2;
  }
  .region-bottom {
    .block {
      @include zen-grid-item-base();
    }
    #block-uib-area-colophon {
      @include zen-grid-item(1, 1);
    }
    #block-views-relevant-links-block-1 {
      @include zen-grid-item(1, 2);
    }
    #block-uib-area-colophon-logos {
      @include zen-clear();
      @include zen-grid-item(2, 1);
    }
  }
}

@media all and (min-width: 720px) {
  #navigation {
    background: url(../../images/decore-line.png) repeat-x bottom;
    margin-bottom: -6px;
    padding-bottom: 16px;
  }
  .expanded {
    #navigation {
      padding-top: 1px;
      background: url(../../images/decore-line.png) repeat-x top;
      .region-navigation {
        margin-top: 10px;
      }
    }
  }
}

/* Mobile */
@media all and (min-width: 240px) and (max-width: 719px) {
  $zen-column-count: 1;

  .region-bottom {
    .block {
      @include zen-grid-item-base();
    }
    #block-uib-area-colophon {
      @include zen-grid-item(1, 1);
    }
    #block-views-relevant-links-block-1 {
      @include zen-grid-item(1, 1);
      @include zen-clear();
    }
    #block-uib-area-colophon-logos {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
  }

  #name-and-slogan-mobile {
    .site-name {
      font-size: 1.125em;
      padding: 0 0 0 0.416em;
      width: 75%;
    }
    .logo {
      width: 50px;
      img {
        width: 100%;
      }
    }
  }

  #menu-search-mobile-wrapper {
    float: left;
    width: 100%;
    height: 60px;
    background: #eceae9; /* Old browsers */
    background: rgb(236,234,233); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(236,234,233,1) 0%, rgba(229,228,227,1) 50%, rgba(219,218,217,1) 51%, rgba(236,234,233,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,234,233,1)), color-stop(50%,rgba(229,228,227,1)), color-stop(51%,rgba(219,218,217,1)), color-stop(100%,rgba(236,234,233,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(236,234,233,1) 0%,rgba(229,228,227,1) 50%,rgba(219,218,217,1) 51%,rgba(236,234,233,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(236,234,233,1) 0%,rgba(229,228,227,1) 50%,rgba(219,218,217,1) 51%,rgba(236,234,233,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(236,234,233,1) 0%,rgba(229,228,227,1) 50%,rgba(219,218,217,1) 51%,rgba(236,234,233,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(236,234,233,1) 0%,rgba(229,228,227,1) 50%,rgba(219,218,217,1) 51%,rgba(236,234,233,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceae9', endColorstr='#eceae9',GradientType=0 ); /* IE6-9 */
    border-top: solid 1px #DDDADA;
    border-bottom: solid 1px #DDDADA;
  }

  #global-header {
    @include zen-grid-item(1, 1);
    #global-menu {
      ul li a {
        font-size: 7px;
        padding: 18px 4px 10px 4px;
      }
    }
    #global-menu {
      display: none;
    }
    #global-searchform {
      width: 50%;
      form {
        float: left !important;
        input[type='text'] {
        background: #ededed url(../../images/search.png) no-repeat 1px;
        background-size: 20px 19px;
        width: 100%;
        padding-right: 30px;
        margin: 14px 0  0 10px;
        color: #333;
        cursor: pointer;
        }
        input[type='text']:hover {
          background-color: #fff;
        }
        input[type='image'] {
          display: none;
        }
        input:-moz-placeholder {
          color: transparent;
        }
        input::-webkit-input-placeholder {
          color: transparent;
        }
        .searchbox {
          p {
            margin: 0;
          }
        }
      }
    }
    #mobile-menu {
      display: block;
      float: right;
      ul {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 50%, #eaeaea 51%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f2f2f2), color-stop(51%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 50%,#eaeaea 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 50%,#eaeaea 51%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 50%,#eaeaea 51%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 50%,#eaeaea 51%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        border: solid 1px #CECECE;
        box-shadow: 0px 1px 3px #E2E2E2;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        padding: 10px 5px 2px 10px;
        border-radius: 2px;
        margin: 4px 15px 10px 0;
        li {
          width: 30px;
          border-top: 3px solid #005473;
          height: 4px;
          margin:0 6px 0 0;
          padding-top: 2px;
          border-radius: 1px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
        }
      }
    }
  }

  .region-navigation .block-menu ul.menu {
    li {
      @include zen-grid-item(1, 1);
      float: none;
      width: 100%;
      a {
        font-weight: normal;
      }
      .menu {
        @include zen-grid-item(1, 1);
        display: none;
        position: relative;
        li {
          background: none;
        }
        a {
          width: 90%;
          background: none;
          border-left: medium none;
          background: #F1F1EF;
          &:hover {
            background-color: #AA0000;
            background-image: none;
            color: #FFFFFF;
            width: 100%;
          }
        }
      }
    }
    li:hover .menu {
      display: block;
    }
  }

  #header .logo {
    height: auto;
    width: 30%;
  }

  #block-locale-language {
    ul {
      padding: 0;
      margin: 0;
      li {
        font-size: 10px;
      }
    }
  }

  /* content */
  #content {
    margin-top: 20px;
  }

  /* Hide extra logo */
  .field-name-field-uib-logo {
    display: none;
  }

  /* Hide desktop and tablet header */
  #name-and-slogan, .logo.large-screens {
    display: none;
  }

  #block-locale-language {
    display: none;
  }

  #navigation {
    display: none;
  }

  #name-and-slogan-mobile {
    margin: 0.333em 0 0.333em 0.333em;
  }

  #block-locale-language--2 {
    float: right;
    margin-right: 18px;
  }

  /* Area mobile */

  .field-name-field-uib-primary-media {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    img {
      width: 100%;
    }
  }

  .field-name-field-uib-primary-text {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    float: none !important;
    clear: both;
    width: 100%;
    padding: 0;
  }

  .field-name-field-uib-secondary-text {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    margin: 20px 0 20px 0;
    background-color: #F1F1EF;
    border-radius: $border-radius;
    padding-bottom: 20px;
    box-shadow: $box-shadow;
    ul {
      @include zen-clear();
      list-style-type: none;
      margin-top: 0;
      display: block;
    }
    li {
      float: left;
      margin: 10px 0 0 0;
      padding: 0 10px 0 0;
      width: 210px;
    }
    p {
      @include zen-clear();
      padding: 0px 20px 0 20px;
      display: block;
    }
    h4 {
      margin-left: 20px;
    }
    h3 {
      margin: 20px 0 0 20px;
    }
  }

  .field-name-field-uib-profiled-message {
    @include zen-grid-item(1, 1);
    margin-bottom: 10px;
  }

  .view-area-slideshow {
    .transparent {
      position: absolute;
      bottom: 4px;
      left: 0px;
      width: 100%;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .view-area-slideshow img {
    max-width: 100%;
  }

  #node_area_full_group_two_column .field-collection-container {
    width: 100%;
    background: #F1F1EF;
    border: none;
    border-radius: $border-radius;
  }

  .field-name-profiled-article {
    @include zen-clear();
    @include zen-grid-item(1, 1);
  }

  .field-name-field-uib-bottom-media {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    img {
      width: 80%;
    }
  }

  .field-name-field-uib-bottom-text {
    @include zen-clear();
    @include zen-grid-item(1, 1);
  }

  .field-name-field-uib-link-section {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    float: none;
  }

  .view-faculty-departments-kids {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    margin-bottom: 10px;
    padding: 15px;
    background: #F1F1EF;
    border: none;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    width: 90%;
  }

  .field-name-field-uib-profiled-testimonial {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    width: 100%;
  }

  .field-name-field-uib-tertiary-text {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    float: none;
    width: 100%;
  }

  /* Slideshow mobile */
  .view-area-slideshow, .views-field-field-uib-main-media {
    @include zen-grid-item(1, 1);
    h.view-area-slideshow .slidecontent {
      bottom: 20%;
    }
  }

  .view-area-slideshow .views-slideshow-pager-fields {
    display: none;
  }

  #widget_pager_bottom_area_slideshow-default {
    left: 9%;
    top: 81%
  }

  .slidecontent {
    top: 80%;
    left: 10%;
    h3 {
      font-size: 8px;
      margin-top: -25px;
    }
  }

  .lead {
    display: none;
  }

  .field-name-field-uib-relation.field-type-entityreference {
    @include zen-grid-item(1, 1);
    padding: 0;
    li {
      width: 100%;
    }
  }

  .sidebars {
    clear: both;
  }

  /* News archive mobile */
  .view-recent-news .views-row {
    @include zen-clear();
  }

  #block-views-recent-news-block-date-selector {
    ul {
      list-style-type: none;
      margin-top: 0;
      width: 93%;
      padding-top: 10px;
    }
  }

  .view-recent-news img {
    @include zen-grid-item(1, 1);
    @include zen-clear();
  }

  .view-display-id-newsarchive  .views-field-title {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    margin-bottom: 10px;
    float: none;
  }

  .view-display-id-newsarchive  .views-field-field-uib-lead {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    min-height: 115px;
  }

  /* Courses  mobile*/
  .view-courses {
    @include zen-grid-item(1, 1);
    .views-row {
      width: 97%;
      height: 110px;
      float: left;
      margin: 0 10px 10px 0;
      background-color: #efefef;
      padding: 10px 10px 0 10px;
    }
    h3 {
      clear: both;
    }
    a {
      font-size: 1.4em;
      line-height: 2em;
    }
  }

  /* Persons mobile */
  .view-ansatte {
    margin-left: 0;
    .uib-ansatte-section .media {
      float: none;
    }
  }

  /* Article mobile */
  #node_uib_article_full_group_article_main {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    float: none;
    width: 100%;
  }

  .article-info {
    border-bottom: solid 1px #DEDFDD;
    height: 100px;
  }

  #node_uib_article_full_group_article_sidebar {
    @include zen-grid-item(1, 1);
    @include zen-clear();
  }

  .node-uib-article .file-video-youtube, .node-uib-article .file-video-vimeo, .node-type-area .file-video-vimeo, .node-type-area .file-video-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
    iframe.media-youtube-player, iframe.media-vimeo-player {
      @include zen-grid-item(1, 1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  /* Aktuelt mobile */
  .view-frontpage-profiled-articles {
    @include zen-grid-item (1, 1);
    @include zen-clear();
    .views-field-field-uib-main-media, .views-field-field-uib-kicker, .views-field-title, .views-field-field-uib-lead {
      @include zen-grid-item (1, 1);
      @include zen-clear();
    }
  }
    /* Automatic news feed on news page */
  .node-uib-article {
    width: 100%;
    @include zen-grid-item (1, 1);
    @include zen-clear();
    h1, .field-name-field-uib-lead {
      font-weight: normal;
    }
    h1 {
      font-size: 1.6em;
    }
  }

  /* Employee page menu */
  .expanded .region-navigation {
    .menu {
      li {
        float: none;
        width: 100%;
      }
    }
  }
}

/* Tablet */
@media all and (min-width: 720px) and (max-width: 959px) {
  /*
   * Use 4 grid columns for smaller screens.
   */
  $zen-column-count: 4;

  /*
   * The layout when there is only one sidebar, the left one.
   */

  .sidebar-first {
    #content { /* Span 2 columns, starting in 2nd column from left. */
      @include zen-grid-item(2, 2);
    }
    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
    #navigation {
      display: block;
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */

  .sidebar-second {
    #content { /* Span 2 columns, starting in 1st column from left. */
      @include zen-grid-item(4, 1);
    }
    .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
      @include zen-grid-item(4, 1);
      @include zen-clear();
      margin: auto;
      max-width: 722px;
    }
    /* mobile header fixes*/
    #mobile-name-and-slogan,
    #block-locale-language--2 {
      display: none;
    }
    /* Hide global menu for mobile */
    .global-menu-mobile {
      display: none;
    }
    #top-region-wrapper {
      height: 50px;
      border-bottom: solid 1px #DDD;
      background-color: #efefef;
      background: -moz-linear-gradient(top,  rgba(237,237,237,0) 0%, rgba(237,237,237,0.01) 1%, rgba(239,239,239,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0)), color-stop(1%,rgba(237,237,237,0.01)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ededed', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    }
    /* Area tablet */
    #content, .sidebars {
      float: none;
      max-width: 722px;
      margin: auto;
      li {
        margin-bottom: 8px;
      }
    }

    .field-name-field-uib-primary-media {
      @include zen-grid-item(2, 1);
      width: 47%;
      margin-left: 0%;
    }

    .field-name-field-uib-primary-text {
      @include zen-grid-item(2, 3);
      padding-left: 3px;
    }

    .field-name-field-uib-secondary-text {
      @include zen-clear();
      width: 100%;
      float: left;
      margin: 20px 0 20px 0;
      background: #F1F1EF;
      border-radius: $border-radius;
      padding-bottom: 20px;
      box-shadow: $box-shadow;
      ul {
        @include zen-clear();
        list-style-type: none;
        margin-top: 0;
      }
      li {
        float:left;
        margin: 10px 0 0 0;
        padding: 0 10px 0 0;
        width: 210px;
      }
      p {
        @include zen-clear();
        padding: 0px 20px 0 20px;
      }
      h4 {
        margin-left: 20px;
      }
      h3 {
        margin: 20px 0 0 20px;
      }
    }

    .view-area-slideshow .transparent {
      position: absolute;
      bottom: 4px;
      left: 0px;
      width: 708px;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .view-area-slideshow img {
      max-width: 708px;
    }
    .slidecontent {
      h3 {
        width: 75% !important;
      }
    }

    .field-name-field-uib-profiled-message {
      @include zen-grid-item(2, 3);
      float: none;
      padding-left: 10px;
      margin-bottom: 10px;
    }

    .node-area .field-collection-container {
      @include zen-grid-item(4, 1);
      border: none;
      float: left;
      width: 48%;
      background: #F1F1EF;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }

    .group-bottom-wrapper {
      @include zen-grid-item(4, 1);
      @include zen-clear();
    }

    .field-name-field-uib-bottom-media {
      @include zen-grid-item(1, 1);
    }

    .field-name-field-uib-bottom-text {
      @include zen-grid-item(3, 2);
    }

    .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
      @include zen-clear();
      @include zen-grid-item(4, 1);
    }

    .region-sidebar-second {
      float: none;
    }

    #node_area_full_group_two_column {
      @include zen-clear();
      .view-faculty-departments-kids {
        @include zen-grid-item(2, 1);
        @include zen-clear();
        margin-bottom: 10px;
        float: left;
        padding: 15px;
        background: #F1F1EF;
        border: none;
        border-radius: $border-radius;
        width: 45%;
        box-shadow: $box-shadow;
      }
    }

    .field-name-field-uib-link-section {
      @include zen-grid-item(2, 1);
      background: #F1F1EF;
      border: none;
      border-radius: $border-radius;
      padding: 5px;
      width: 100%;
      padding-right: 5px;
      box-shadow: $box-shadow;
    }

    .field-name-field-uib-profiled-testimonial {
      @include zen-grid-item(2, 3);
      @include zen-clear();
      margin-left: 53%;
      width: 46%;
      float: none;
    }

    .field-name-field-uib-tertiary-text {
      @include zen-grid-item(2, 3);
      clear: none;
      float: none;
      margin-left: 55%;
      width: 45%;
    }

    /* Slideshow tablet */
    .view-area-slideshow .transparent {
      position: absolute;
      bottom: 4px;
      left: 0px;
      width: 708px;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .view-area-slideshow img {
      max-width: 708px;
    }

    .view-area-slideshow, .views-field-field-uib-main-media {
      @include zen-grid-item(4, 1);
      width: 100%;
      .media {
        width: 47%;
      }
    }

    #widget_pager_bottom_area_slideshow-default {
      left: 40%;
      top: 90%;
      margin: 3px 0 0;
    }

    .slidecontent {
      bottom: 8%;
      left: 6%;
      h3 {
        color: #fff;
        margin-bottom: 20px !important;
        font-size: 1.5em !important;
        font-weight: normal !important;
      }
    }
    .field-name-field-uib-relation {
      @include zen-grid-item(4, 1);
    }

    /* Article tablet */
    #content {
      float: none;
    }

    /* Article publishing info */
    .uib-news-byline-created,
    .uib-article-created {
      @include zen-grid-item (1, 1);
    }
    .uib-news-byline-last-updated,
    .uib-article-last-updated  {
      @include zen-grid-item (2, 2);
    }
    .service-links {
      @include zen-grid-item (1, 4);
    }
    .article-info {
      border-bottom: solid 1px #DEDFDD;
    }

    .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
      @include zen-grid-item(4, 1);
    }

    .region-sidebar-second {
      float: none;
    }

    #node_uib_article_full_group_article_main {
      @include zen-grid-item(3, 1);
      width: 72%;
    }

    #node_uib_article_full_group_article_sidebar {
      @include zen-grid-item(1, 4);
    }
  } /* class sidebar-second ends here! */

  /* Responsive video tablet*/
  .node-type-area {
    .no-primary-text {
      .field-name-field-uib-primary-media {
        @include zen-grid-item(4, 1);
        @include zen-clear();
        .file-video {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 10px;
          height: 0;
          overflow: hidden;
          iframe.media-youtube-player, iframe.media-vimeo-player {
            @include zen-grid-item(1, 1);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  /* News archive tablet */
  #block-views-recent-news-block-date-selector {
    ul {
      list-style-type: none;
      margin-top: 0;
    }
    li {
      float: left;
      margin: 10px 0 0 0;
      padding: 0 10px 0 0;
      width: 160px;
    }
  }

  .view-recent-news .views-row {
    @include zen-clear();
    width: 95%;
  }

  .view-recent-news img {
    @include zen-grid-item(1, 1);
  }

  .view-display-id-newsarchive .views-field-title {
    @include zen-grid-item(3, 2);
    margin-bottom: 10px;
    margin-top: 20px;
    float: none;
    padding-left: 15px;
  }

  .view-display-id-newsarchive .views-field-field-uib-lead {
    @include zen-grid-item(3, 2);
    min-height: 115px;
    padding-left: 15px;
  }

  /* Persons list tablet */
  .view-ansatte {
    margin-left: 0;
    .media {
      width: 324px;
    }
  }

  .uib-ansatte-section {
    @include zen-clear();
    @include zen-grid-item(4, 1)
  }

  /* Courses tablet*/
  .view-courses {
    @include zen-grid-item(4, 1);
    .views-row {
      width: 300px;
      height: 110px;
      float: left;
      margin: 0 10px 10px 0;
      background-color: #efefef;
      padding: 10px 10px 0 10px;
    }
    h3 {
      clear: both;
    }
    a {
      font-size: 1.4em;
      line-height: 2em;
    }
  }

  /* Automatic news feed on news page */
  .newspage_node .node-uib-article {
    clear: both;
    margin-top: 16px;
    .field-name-field-uib-main-media-recent-news {
      @include zen-grid-item (1, 1);
    }
    h1, .field-name-field-uib-lead, .field-name-field-uib-kicker {
      @include zen-grid-item (3, 2);
      width: 73%;
      margin-left: 27%;
      font-weight: normal;
    }
    h1 {
      float: none;
      font-size: 1.6em;
      padding-top: 23px;
      margin-bottom: 0;
    }
    .field-name-field-uib-kicker {
      margin-top: 0;
    }
  }

  /* Webdesk */
  .ui-dialog {
    left: 10px !important;
  }

  .vertical-tabs {
    float: left;
    display: block;
    min-width: 406px;
    margin-left: 180px;
  }

  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #content { /* Span 2 columns, starting in 2nd column from left. */
      @include zen-grid-item(2, 2);
    }
    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
    .region-sidebar-second { /* Start a new row and span all 3 columns. */
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();
      .block {
        @include zen-grid-item-base();
      }
      .block:nth-child(3n+1) { /* Span 1 column, starting in the 1st column from left. */
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      .block:nth-child(3n+2) { /* Span 1 column, starting in the 2nd column from left. */
        @include zen-grid-item(1, 2);
      }
      .block:nth-child(3n) { /* Span 1 column, starting in the 3rd column from left. */
        @include zen-grid-item(1, 3);
      }
    }
  }
}

/* Desktop */
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  $zen-column-count: 5;

  .region-bottom {
    .block {
      @include zen-grid-item-base();
    }
    #block-uib-area-colophon {
      @include zen-grid-item(2, 1);
    }
    #block-views-relevant-links-block-1 {
      @include zen-grid-item(1, 3);
    }
    #block-uib-area-colophon-logos {
      @include zen-grid-item(2, 4);
      @include zen-clear(none);
    }
  }


  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content { /* Span 4 columns, starting in 2nd column from left. */
      @include zen-grid-item(4, 1);
    }
    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content { /* Span 4 columns, starting in 1st column from left. */
      @include zen-grid-item(4, 1);
    }
    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
      li {
        margin-bottom: 8px;
      }
    }
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content { /* Span 3 columns, starting in 2nd column from left. */
      @include zen-grid-item(3, 2);
    }
    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
    }
  }

  /* Hide mobile header */
  #mobile-name-and-slogan,
  #block-locale-language--2 {
    display: none;
  }
  /* Hide global menu for mobile */
  .global-menu-mobile {
    display: none;
  }
  /* Content */
  #content {
    margin-top: 20px;
  }
  .front {
    #content {
      margin-top: 0px;
    }
  }

  /* Sidebar background img */
  .one-sidebar #main, .sidebar-second #main {
    background-image: url('../../images/fade-to-left-bg.png');
    background-repeat: repeat-y;
    background-position: 728px, 0;
  }

  $zen-column-count: 4;

  .node-type-area {
    @include zen-grid-item(4, 1)
  }

  /* uib_article nodes */
  #node_uib_article_full_group_article_main {
    @include zen-grid-item(3, 1);
    width: 73%;
  }

  #node_uib_article_full_group_article_sidebar {
    @include zen-grid-item(1, 4)
  }

  .view-ansatte {
    margin-left: 0;
    .media {
      width: 324px;
    }
  }

  /* News archive */
  #block-views-recent-news-block-date-selector {
    ul {
      list-style-type: none;
      margin-top: 0;
    }
    li {
      float:left;
      margin: 10px 0 0 0;
      padding: 0 10px 0 0;
      width: 160px;
      text-transform: capitalize;
    }
  }

  .view-recent-news .views-row {
    @include zen-clear();
    width: 95%;
  }

  .view-recent-news img {
    @include zen-grid-item(1, 1);
  }


  .view-display-id-newsarchive  .views-field-title {
    @include zen-grid-item(3, 2);
    margin-bottom: 10px;
    margin-top: 20px;
    float: none;
    padding-left: 15px;
  }

  .view-display-id-newsarchive  .views-field-field-uib-lead {
    @include zen-grid-item(3, 2);
    min-height: 115px;
    padding-left: 15px;
    float: none;
  }

  /* Global header */
  $zen-column-count: 5;

  #global-menu {
    @include zen-grid-item(3, 1)
  }

  #global-searchform {
    @include zen-grid-item(2, 4);
    p {
      margin-top: 10px;
    }
  }

  #navigation {
    @include zen-grid-item(5, 1);
  }

  #top-region-wrapper {
    height: 50px;
    border-bottom: solid 1px #DDD;
    background-color: #efefef;
    background: -moz-linear-gradient(top,  rgba(237,237,237,0) 0%, rgba(237,237,237,0.01) 1%, rgba(239,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0)), color-stop(1%,rgba(237,237,237,0.01)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,0) 0%,rgba(237,237,237,0.01) 1%,rgba(239,239,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ededed', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
  }

  #block-locale-language--2 {
    display: none;
  }

  /* Area page */
  $zen-column-count: 4;

  .field-name-field-uib-important-message {
    @include zen-grid-item-base;
    @include zen-grid-item(4, 1);
  }

  .field-name-field-uib-primary-media {
    @include zen-grid-item-base;
    @include zen-grid-item(2, 1);
    @include zen-clear();
  }

  .node-type-area {
    .no-primary-text {
      .field-name-field-uib-primary-media {
        @include zen-grid-item-base;
        @include zen-grid-item(4, 1);
        @include zen-clear();
        .file-video {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 10px;
          height: 0;
          overflow: hidden;
          iframe.media-youtube-player, iframe.media-vimeo-player {
            @include zen-grid-item(1, 1);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .field-name-field-uib-primary-text {
    @include zen-grid-item-base;
    @include zen-grid-item(2, 3);
  }

  .field-name-field-uib-owner,
  .field-name-field-uib-copyright,
  .field-name-field-uib-description {
    @include zen-clear();
    padding-left: 10px;
  }

  .field-name-field-uib-secondary-text {
    @include zen-grid-item-base;
    @include zen-grid-item(4, 1);
    @include zen-clear();
    margin: 20px 0 20px 0;
    ul {
      padding: 0;
    }
    li {
      float: left;
      width: zen-unit-width();
    }
    h3 {
      margin: 20px 0 0 0;
    }
  }

  #node_area_full_group_two_column {
    @include zen-clear();
    @include zen-grid-container();

    /* the important overrides a value from field collection.theme.css */
    .field-collection-container {
      @include zen-grid-item-base;
      @include zen-grid-item(2, 3);
    }
    .field-name-profiled-article {
      @include zen-grid-item(2, 3);
    }
    .view-faculty-departments-kids {
      @include zen-grid-item-base;
      @include zen-grid-item(2, 1);
      margin-bottom: 10px;
    }
    .field-name-field-uib-profiled-message {
      @include zen-grid-item-base;
      @include zen-grid-item(2, 3);
      margin-bottom: 10px;
    }
    .field-name-field-uib-tertiary-text {
      @include zen-clear();
      @include zen-grid-item-base;
      @include zen-grid-item(2, 1);
    }
    .field-name-field-uib-profiled-testimonial {
      @include zen-grid-item-base;
      @include zen-grid-item(2, 3);
    }
  }

  .group-bottom-wrapper {
    @include zen-clear();
    @include zen-grid-container();
  }

  .field-name-field-uib-bottom-media {
    @include zen-grid-item(1, 1);
  }

  .field-name-field-uib-bottom-text {
    @include zen-grid-item(3, 2);
    @include zen-grid-item-base;
  }

  /* Area "teaser" block */
  .field-name-field-uib-relation {
    @include zen-clear();
    @include zen-grid-item(4, 1);
  }

  /* Persons list */
  .uib-ansatte-section {
    @include zen-clear();
    @include zen-grid-item(4, 1);
  }

  /* Breadcrumb */
  nav.breadcrumb {
    @include zen-grid-item(4, 1);
    float: none;
  }

  /* Slideshow */
  .view-area-slideshow .transparent {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    .slidecontent {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .view-area-slideshow img {
    max-width: 100%;
  }

  .view-area-slideshow, .views-field-field-uib-main-media {
    @include zen-grid-item(4, 1);
    width: 100%;
  }

  #widget_pager_bottom_area_slideshow-default {
    left: 40%;
    top: 90%;
    margin: 3px 0 0;
  }

  .slidecontent {
    bottom: 8%;
    left: 6%;
    h3 {
      color: #fff;
      margin-bottom: 15px !important;
      font-size: 1.5em !important;
      font-weight: normal !important;
      width: 75% !important;
    }
  }

  .field-name-field-uib-social-media {
    @include zen-grid-item(4, 1);
    @include zen-grid-item-base;
    margin-bottom: 20px;
  }

  /* Courses */
  .view-courses {
    @include zen-grid-item(4, 1);
    .views-row {
      width: 324px;
      height: 110px;
      float: left;
      margin: 0 10px 10px 0;
      background-color: #efefef;
      padding: 10px 10px 0 10px;
      box-shadow: $box-shadow;
    }
    h3 {
      clear: both;
    }
    a {
      font-size: 1.4em;
      line-height: 2em;
    }
  }

  /* Aktuelt desktop */
  /* First two */
  .view-display-id-newspage_two_chosen_items {
    @include zen-clear();
    @include zen-grid-item (4, 1);
    .views-row-odd {
      @include zen-grid-item (2, 1);
      .views-field-field-uib-main-media, .views-field-field-uib-kicker, .views-field-title, .views-field-field-uib-lead {
        @include zen-clear();
        width: 98%;
      }
    }
    .views-row-even {
      @include zen-grid-item (2, 3);
      .views-field-field-uib-main-media, .views-field-field-uib-kicker, .views-field-title, .views-field-field-uib-lead {
         @include zen-clear();
         width: 98%;
         margin-left: 2%;
      }
    }
  }
  /* promoted */
  .view-display-id-newspage_one_chosen_item {
    @include zen-grid-item (4, 1);
    float: none;
    clear: both;
    min-height: 260px;
    .views-field-field-uib-main-media {
      @include zen-grid-item (2, 1);
      width: 49%;
    }
    .newspage-one-chosen-text {
      @include zen-grid-item (2, 3);
      float: none;
      background-color: #f1f1ef;
      height: 245px;
      width: 51%;
      margin-left: 49%;
      .views-field-field-uib-kicker {
        width: 100%;
      }
      .views-field-field-uib-kicker, .views-field-field-uib-lead, .views-field-title {
        width: 96%;
        margin-left: 4%;
      }
    }
  }
  /* Last two or more */
  .view-display-id-newspage_last_chosen_items {
    @include zen-grid-item (4, 1);
    margin-bottom: 20px;
    .views-row-odd {
      @include zen-grid-item (2, 1);
      .views-field-field-uib-main-media, .views-field-field-uib-kicker, .views-field-title, .views-field-field-uib-lead {
        @include zen-clear();
        width: 98%;
      }
    }
    .views-row-even {
      @include zen-grid-item (2, 3);
      .views-field-field-uib-main-media, .views-field-field-uib-kicker, .views-field-title, .views-field-field-uib-lead {
         @include zen-clear();
         width: 98%;
         margin-left: 2%;
      }
    }
  }

  /* Automatic news feed on news page */
  .newspage_node .node-uib-article {
    clear: both;
    .field-name-field-uib-main-media-recent-news {
      @include zen-grid-item (1, 1);
    }
    h1, .field-name-field-uib-lead, .field-name-field-uib-kicker {
      @include zen-grid-item (3, 2);
      width: 73%;
      margin-left: 27%;
      font-weight: normal;
    }
    h1 {
      float: none;
      font-size: 1.6em;
      padding-top: 23px;
      margin-bottom: 0;
    }
    .field-name-field-uib-kicker {
      margin-top: 0;
    }
  }

  /* Article publishing info */
  .uib-news-byline-created,
  .uib-article-created {
    @include zen-grid-item (1, 1);
  }
  .uib-news-byline-last-updated,
  .uib-article-last-updated {
    @include zen-grid-item (2, 2);
  }
  .service-links {
    @include zen-grid-item (1, 4);
  }
  .article-info {
    border-bottom: solid 1px #DEDFDD;
  }

  /* Employee page menu */
  .expanded .region-navigation {
    .menu {
      li {
        float: left;
        width: 20%;
      }
    }
  }

  /* Webdesk */
  .vertical-tabs {
    float: left;
    display: block;
    min-width: 706px;
    margin-left: 180px;
  }
}
