/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 910px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  5;
$zen-gutter-width:  20px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */

#page,
.region-bottom,
#global-header {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
}
.page-webdesk #main,
.page-add-node #main {
  position: relative;
  width: 890px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer {
  @include zen-grid-container();
}

/*
 * Navigation bar
 */

@media all and (min-width: 480px) {
  #main {
    padding-top: 3em; /* Move all the children of #main down to make room. */
    position: relative;
    clear:both;
  }
  #navigation {
    width: $zen-grid-width;
  }
}

/* Mobile */
@media all and (min-width: 240px) and (max-width: 720px) {

  $zen-column-count: 1;

  h1#site-name  {
     font-size: 15px;
     padding: 10px 0 0 10px;
   }

#global-header {
    @include zen-grid-item (1, 1);
    #global-menu {
      ul li a{
        font-size: 7px;
        padding: 18px 4px 10px 4px
      }
    }
    #global-searchform {
      form {
        float:left !important;
        input[type='text'] {
        background: #ededed url(../../images/search.png) no-repeat 1px;
        background-size: 18px 19px;
	      width: 100%;
	      padding-right: 30px;
	      margin-left: 10px;
	      color: transparent;
	      cursor: pointer;
        }
        input[type='text']:hover {
          background-color: #fff;
        }
        input[type='image'] {
          display: none;
        }
        input[type='text']:focus {
	  width: 100%;
	  padding: 4px 0 4px 22px;
	  color: #000;
	  background-color: #fff;
	  cursor: auto;
        }
        input:-moz-placeholder {
          color: transparent;
        }
        input::-webkit-input-placeholder {
	  color: transparent;
        }
      }
    }
  }
  .menu-block-wrapper ul.menu {
    li {
      @include zen-grid-item(1, 1);
      float: none;
      width: 100%;
        a {
          font-weight: normal;
        }

      .menu {
        @include zen-grid-item(1, 1);
        display: none;
        position: relative;
        li {
          background: none;
        }
        a {
          width: 100%;
          background: none;
          border-bottom: 1px solid #C8D2D4;
          border-left: medium none;
          background: #F1F1EF;
          &:hover {
            background-color: #AA0000;
            background-image: none;
            color: #FFFFFF;
          }
        }
      }
    }
    li:hover .menu {
      display: block;
    }
  }

  .region-bottom {
        width: 100% !important;
      }
}

/* Area mobile */
@media all and (min-width: 240px) and (max-width: 720px) {
  $zen-column-count: 1;

  .field-name-field-uib-primary-media {
     @include zen-clear();
     @include zen-grid-item (1, 1);
  }

  .field-name-field-uib-primary-text {
     @include zen-clear();
     @include zen-grid-item (1, 1);
     float: none !important;
     clear: both;
     width: 100% !important;
  }

  .field-name-secondary-text {
     @include zen-clear();
     @include zen-grid-item (1, 1);
  }

  .field-name-profiled-article {
    @include zen-clear();
    @include zen-grid-item (1, 1);
  }

  .field-name-field-uib-bottom-media  {
    @include zen-clear();
    @include zen-grid-item (1, 1);
    
    img {width: 80%; margin: 0 auto;}
  }

  .field-name-field-uib-bottom-text {
    @include zen-clear();
    @include zen-grid-item (1, 1);
  }

  .field-name-field-uib-link-section {
    @include zen-clear();
    @include zen-grid-item (1, 1);
    float: none;
  }

  .field-name-field-uib-profiled-testimonial {
    @include zen-clear();
    @include zen-grid-item (1, 1);
    float: none;
    
    img {
      float: left;
      margin-right: 10px;
    }
  }

  .field-name-field-uib-tertiary-text {
    @include zen-clear();
    @include zen-grid-item (1, 1);
    float: none;
    width: 100%;
  }
}

/* Calendar mobile */
@media all and (min-width: 240px) and (max-width: 720px) {
  $zen-column-count: 1;

    .view-display-id-block_2  { /* Calender */
      @include zen-grid-item (1, 1);
    }

    #block-views-calendar-block-3.view-display-id-block_3  { /* Category */
      @include zen-clear();
      @include zen-grid-item (1, 1);
    }

    .view-display-id-page_2  { /* Feed */
      @include zen-grid-item (1, 3);
    }
  }
/* Tablet */
@media all and (min-width: 720px) and (max-width: 959px) {
  /*
   * Use 4 grid columns for smaller screens.
   */
  $zen-column-count: 4;

  /*
   * The layout when there is only one sidebar, the left one.
   */

  .sidebar-first {
    #content { /* Span 2 columns, starting in 2nd column from left. */
      @include zen-grid-item(2, 2);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */

  .sidebar-second {
    #content { /* Span 2 columns, starting in 1st column from left. */
      @include zen-grid-item(4, 1);

    }

    .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
      @include zen-grid-item(4, 1);
      @include zen-clear();
      margin: auto;
      max-width: 722px;
    }


    /* Area tablet */
    @media all and (min-width: 720px) and (max-width: 959px) {

    $zen-column-count: 4;

    #content, .sidebars  {
        float: none;
        max-width: 722px;
        margin: auto;
      }

      .field-name-field-uib-primary-media  {
        @include zen-grid-item (2, 1);
        padding-right: 10px;
      }

      .field-name-field-uib-primary-text {
        @include zen-grid-item (2, 3);
        padding-left: 10px;
      }

      .field-name-field-uib-secondary-text {
        @include zen-clear();

        li {
          width:30%;
        }
      }

      .field-name-field-uib-bottom-media  {
        @include zen-grid-item (1, 1);
      }

      .field-name-field-uib-bottom-text {
        @include zen-grid-item (3, 2);
      }

      .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
        @include zen-clear();
        @include zen-grid-item(4, 1);
      }

      .region-sidebar-second {
        float: none;

      }
      .region-bottom {
        width: 100%;
      }

      .view-faculty-departments-kids  {
         @include zen-grid-item (2, 1);
         @include zen-clear();
         margin-bottom: 10px;
       }

      .field-name-field-uib-link-section {
        @include zen-grid-item (2, 1);


        background: #f5f5f5;
        border: none;
        border-radius: 2px;
        moz-border-radius: 2px;
        webkit-border-radius: 2px;
        padding: 5px;
        width: 100%;
      }

      .field-name-field-uib-profiled-testimonial {
        @include zen-grid-item (2, 3);
        @include zen-clear();
        float: none;
        clear: none;


        img {
          margin-right: 10px;
          float: left;
          clear: none;
        }
      }

      .field-name-field-uib-tertiary-text {
        @include zen-grid-item (2, 3);

        clear: none;
        float: none;
      }
    }

    /* Article tablet */
    @media all and (min-width: 720px) and (max-width: 959px) {

    $zen-column-count: 4;

    #content  {
        float: none;
      }

      .region-sidebar-second { /* Span 1 column, starting in 3rd column from left. */
        @include zen-grid-item (4, 1);
      }

      .region-sidebar-second {
        float: none;

      }
    }

    .group-article-main {
      @include zen-grid-item (3, 1)
    }

    .group-article-sidebar  {
      @include zen-grid-item (1, 4)
    }
  }
 
  /* Calendar tablet */
  @media all and (min-width: 720px) and (max-width: 959px) {

  $zen-column-count: 4;
  .view-display-id-block_2  { /* Calender */
    @include zen-grid-item (4, 1);
  }

  #block-views-calendar-block-3.view-display-id-block_3  { /* Category */
    @include zen-clear();
    @include zen-grid-item (2, 1);
  }

  .view-display-id-page_2  { /* Feed */
    @include zen-grid-item (2, 3);
  }
}
  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #content { /* Span 2 columns, starting in 2nd column from left. */
      @include zen-grid-item(2, 2);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }

    .region-sidebar-second { /* Start a new row and span all 3 columns. */
      @include zen-grid-item(3, 1);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      .block {
        @include zen-grid-item-base();
      }
      .block:nth-child(3n+1) { /* Span 1 column, starting in the 1st column from left. */
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
      .block:nth-child(3n+2) { /* Span 1 column, starting in the 2nd column from left. */
        @include zen-grid-item(1, 2);
      }
      .block:nth-child(3n) { /* Span 1 column, starting in the 3rd column from left. */
        @include zen-grid-item(1, 3);
      }
    }
  }
}

/* Desktop */
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  $zen-column-count: 5;

  /*
   * The layout when there is only one sidebar, the left one.
   */

  .sidebar-first {
    #content { /* Span 4 columns, starting in 2nd column from left. */
      @include zen-grid-item(4, 1);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
   .sidebar-second {
     #content { /* Span 4 columns, starting in 1st column from left. */
       @include zen-grid-item(4, 1);
     }

     .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
       @include zen-grid-item(1, 5);
     }
   }

  /*
   * The layout when there are two sidebars.
   */

  .two-sidebars {
    #content { /* Span 3 columns, starting in 2nd column from left. */
      @include zen-grid-item(3, 2);
    }

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }

    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
    }
  }
}

/* Article page */
@media all and (min-width: 960px) {
  $zen-column-count: 4;

  .group-article-main {
    @include zen-grid-item (3, 1)
  }
  .group-article-sidebar  {
    @include zen-grid-item (1, 4)
  }
}

/* Global header */
@media all and (min-width: 960px) {
  $zen-column-count: 5;

  #global-menu {
    @include zen-grid-item (3, 1)
  }
  #global-searchform  {
    @include zen-grid-item (2, 4)
  }
  #navigation  {
    @include zen-grid-item (5, 1)
  }
}

/* Area page */
@media all and (min-width: 960px) {
  $zen-column-count: 4;

  .field-name-field-uib-important-message {
    @include zen-grid-item (4, 1);
  }

  .field-name-field-uib-primary-media {
     @include zen-grid-item (2, 1);
  }

  .field-name-field-uib-primary-text {
     @include zen-grid-item (2, 3);
     margin-right: 10px;

     p {
       margin-top: 0;
     }
  }

  .field-name-field-uib-owner, .field-name-field-uib-copyright, .field-name-field-uib-description {
    @include zen-clear();
  }


  .field-name-secondary-text {
     @include zen-grid-item (4, 1);
  }

  .field-name-profiled-article {
    @include zen-grid-item (4, 1);
  }

  .view-faculty-departments-kids  {
     @include zen-grid-item (2, 1);
     @include zen-clear();
     margin-bottom: 10px;
   }

   .field-name-field-uib-link-section {
     @include zen-grid-item (2, 1);

     background: #f5f5f5;
     border: none;
     border-radius: 2px;
     moz-border-radius: 2px;
     webkit-border-radius: 2px;
     width: 100%;
   }

   .field-name-field-uib-tertiary-text {
     @include zen-grid-item (2, 3);
     @include zen-clear();

     float: none;
     clear: none;
   }

   .field-name-field-uib-profiled-testimonial {
     @include zen-grid-item (2, 3);
     @include zen-clear();

     float: none;
     clear: none;

     img {
       margin-right: 10px;
       float: left;
     }
   }

  .field-name-field-uib-bottom-media  {
    @include zen-grid-item (1, 1);
  }
  .field-name-field-uib-bottom-text {
    @include zen-grid-item (3, 2);
    p {
       margin-top: 0;
     }
  }

  /* Area "teaser" block */
  #block-uib-area-node-children {
    @include zen-grid-item (2, 1);
    background-color: #f5f5f5;
    margin: 1em 1em 1em 0;
    padding: 1em;
    width: 48%;
  }

  /* Employee pages */
  .section-foransatte {
    #block-menu-block-page-area-menu {
      @include zen-grid-item (1, 4);
      li.has-children {
        background-color:#efefef; /* Change this to show an image instead ? */
      }
    }

    .field-name-field-uib-lead {
      @include zen-grid-item (3, 1);
    }

    .field-name-field-uib-text {
      @include zen-grid-item (3, 1);
      @include zen-clear();
    }
  }

}

/* Bottom region */
@media all and (min-width: 960px) {
  $zen-column-count: 4;

  .region-bottom .block {
     @include zen-grid-item (2, 2, left)
  }
}
