/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 910px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count: 5;
$zen-gutter-width: 20px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;

/**
 * Create debugging grid.
 * Place this line inside a selector to expose current grid settings.
 *   @include zen-grid-background();
 */

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

/*
 * Center the page.
 */

#main,
#bottom-region-wrapper .inner,
#global-header,
#header,
#navigation .region-navigation,
#block-locale-language,
#above-content {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 910px;
}

.page-add-node #main {
  position: relative;
  width: 890px;
}

/**
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
#content,
#footer,
#header,
#navigation,
.region-sidebar-first,
.region-sidebar-second {
  @include zen-grid-item-base();
}

/**
 * Containers for grid items and flow items.
 */
#header,
#main,
#footer {
  @include zen-grid-container();
}

.page-node-add, .page-webdesk {
  #navigation {
    background: none;
  }
}

.uib-social-media {
  .field-item {
    width: 32px;
  }
}

/**
 * Global Aktuelt/News section.
 */
.newspage_node #node_area_full_group_two_column,
.node-uib-article.node-teaser {
  .views-field-title,
  h1 {
    .section-aktuelt &,
    .section-news & {
      margin: 0;
      font-size: 1.6em;
      line-height: 1.2em;
    }
  }
  img {
    display: block;
  }
}
#node_area_full_group_two_column {
  @include zen-clear();
  .full {
    @include media_element(100%, none, $light-grey);
    margin: 0 0 $zen-gutter-width 0;
    .media-content {
      @include color_box();
    }
  }
  .half
  li {
    margin: 0 0 $zen-gutter-width 0;
  }
  ul {
    margin: 0;
  }
  .image {
    margin: 0 0 zen-half-gutter() 0;
  }
}
.node-uib-article.node-teaser {
  margin: 0 0 $zen-gutter-width 0;
  .field {
    margin: 0;
  }
  .field-name-field-uib-main-media {
    border: none;
    background-color: transparent;
    clear: none;
    padding: 0;
    margin: 0 0 zen-half-gutter() 0;
  }
}

/**
 * General bottom region layout
 */
#bottom-region-wrapper {
  @include zen-grid-container;
}
#bottom-region-wrapper .inner {
  $zen-column-count: 6;
}

.region-bottom {
  .block {
    @include zen-grid-item-base();
  }
  #block-uib-area-colophon {
    @include zen-grid-item(2, 1);
  }
  #block-views-relevant-links-block-1 {
    @include zen-grid-item(1, 3);
  }
  #block-uib-area-colophon-logos {
    $zen-column-count: 6;
    @include zen-grid-item(3, 4);
    #banner1 {
      @include zen-grid-item(3, 1);
    }
    #banner2 {
      @include zen-grid-item(3, 4);
    }
  }
  #block-views-relevant-links-block-1 {
    .item-list {
      ul {
        margin: 0;
      }
    }
    .field-name-field-uib-title {
      margin: 0;
    }
  }
}

@media all and (min-width: 480px) {
  #main {
    padding-top: 0;
    position: relative;
    clear: both;
  }
  #navigation {
    width: $zen-grid-width;
  }

  /**
   * Aktuelt/News area page.
   */
  .node-uib-article.node-teaser {
    @include media_element(100%, none);
    .field-name-field-uib-main-media {
      @include media(25%, left);
      .field-items {
        margin-right: zen-half-gutter();
      }
    }
    .media_wrapper {
      @include media_content();
    }
    .media_content {
      @include media_content_wrapper;
    }
  }
  #node_area_full_group_two_column {
    .half li {
      @include media_element(50%, left);
      .media {
        margin-left: zen-half-gutter();
      }
      .image {
        @include media(100%);
      }
      .media-content {
        @include media(100%);
      }
    }
    li:nth-child(even) .media {
      margin: 0 0 0 10px;
    }
    li:nth-child(odd) .media {
      margin: 0 10px 0 0;
    }
    .full {
      @include zen-clear();
      .image {
        @include media(50%, left);
        .field-content {
          margin-right: zen-half-gutter();
        }
      }
      .media-wrapper {
        @include media_content();
      }
      li:nth-child(odd) .media {
        margin: 0 0 0 0;
      }
    }
  }
}

@media all and (min-width: 580px) {
  #bottom-region-wrapper .inner {
    $zen-column-count: 2;
  }
  .region-bottom {
    .block {
      @include zen-grid-item-base();
    }
    #block-uib-area-colophon {
      @include zen-grid-item(1, 1);
    }
    #block-views-relevant-links-block-1 {
      @include zen-grid-item(1, 2);
    }
    #block-uib-area-colophon-logos {
      @include zen-clear();
      @include zen-grid-item(2, 1);
    }
  }
}

@media all and (min-width: 720px) {
  .uib-social-media {
    .field-item {
      width: auto;
    }
  }
  .expanded {
    #navigation {
      padding-top: 1px;
      background: url(../../images/decore-line.png) repeat-x top;
      .region-navigation {
        margin-top: 10px;
      }
    }
  }
  .front #header {
    background-image:url('../../images/bergenmuseum.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  $zen-column-count: 5;
  $zen-gutter-width: 20px;

  .node-uib-study {

    .uib-study-first-block,
    .uib-study-second-block {
      @include zen-grid-item(2, 1);
    }
    .service-links {
      @include zen-grid-item(5, 1);
    }
    #block-uib-study-study-content {
      @include zen-grid-item(3, 1, right);
    }
    .uib-study-second-block {
      @include zen-clear();
    }
    h1,
    .uib-study-first-block,
    .uib-study-second-block,
    #block-uib-study-study-content
    {
      @include zen-grid-item-base();
    }
  }

  #block-uib-area-area-banner {
    @include zen-clear();
    @include zen-grid-item-base;
    @include zen-grid-item(5, 1);
  }
  #footer-global-menu {
    display: none;
  }
}

/* Mobile */
@media all and (min-width: 240px) and (max-width: 719px) {
  $zen-column-count: 1;

  .region-bottom {
    .block {
      @include zen-grid-item-base();
    }
    #block-uib-area-colophon {
      @include zen-grid-item(1, 1);
    }
    #block-views-relevant-links-block-1 {
      @include zen-grid-item(1, 1);
      @include zen-clear();
      div {
        float: left;
        padding: 2px;
      }
    }
    #block-uib-area-colophon-logos {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
  }

  #global-header {
    @include zen-grid-item(1, 1);
    #global-menu {
      ul li a {
        font-size: 7px;
        padding: 18px 4px 10px 4px;
      }
    }
    #global-menu {
      display: none;
    }
  }

  .region-navigation .block-menu ul.menu {
    li {
      @include zen-grid-item(1, 1);
      float: none;
      width: 100%;
      a {
        font-weight: normal;
      }
      .menu {
        @include zen-grid-item(1, 1);
        display: none;
        position: relative;
        li {
          background: none;
        }
        a {
          width: 90%;
          background: none;
          border-left: medium none;
          background: #F1F1EF;
          &:hover {
            background-color: #AA0000;
            background-image: none;
            color: #FFFFFF;
            width: 100%;
          }
        }
      }
    }
    li:hover .menu {
      display: block;
    }
  }

  /* Hide extra logo */
  .field-name-field-uib-logo {
    display: none;
  }

  #block-locale-language--2 {
    float: right;
    margin-right: zen-half-gutter() * 2;
    margin-bottom: 0;
    .language-switcher-locale-url {
      margin-bottom: 0;
    }
  }

  #main {
    clear: both;
  }
  /* Area mobile */

  .region-sidebar-second .block {
    @include zen-clear();
    @include zen-grid-item-base();
    @include zen-grid-item(1, 1);
  }

  .node-area,
  #node_area_full_group_column_first,
  #node_area_full_group_column_second,
  #node_area_full_group_bottom_wrapper {
    >.field,
    .field-collection-container,
    .view-faculty-departments-kids {
      @include zen-clear();
      @include zen-grid-item-base();
      @include zen-grid-item(1, 1);
      margin-bottom: $box-spacing;
    }
  }

  .field-name-field-uib-secondary-text {
    li {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
  }

  /* Slideshow mobile */
  .view-area-slideshow {
    @include zen-clear();
    @include zen-grid-item(1, 1);
    .transparent {
      position: absolute;
      bottom: 4px;
      left: 0px;
      width: 100%;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .eventdata {
      display: none;
    }
  }

  .view-area-slideshow img {
    max-width: 100%;
  }

  .view-area-slideshow, .views-field-field-uib-main-media {
    h.view-area-slideshow .slidecontent {
      bottom: 20%;
    }
  }

  .view-area-slideshow .views-slideshow-pager-fields {
    display: none;
  }

  #widget_pager_bottom_area_slideshow-default {
    left: 9%;
    top: 81%
  }

  .slidecontent {
    top: 80%;
    left: 10%;
    h3 {
      font-size: 8px;
      margin-top: -25px;
    }
  }

  .lead {
    display: none;
  }

  .field-name-field-uib-relation.field-type-entityreference {
    @include zen-grid-item(1, 1);
    padding: 0;
    li {
      width: 100%;
    }
  }

  .sidebars {
    clear: both;
  }

  /* News archive mobile */
  .view-recent-news .views-row {
    @include zen-clear();
  }

  #block-views-recent-news-block-date-selector {
    ul {
      list-style-type: none;
      margin-top: 0;
      width: 93%;
      padding-top: 10px;
    }
  }

  .view-recent-news img {
    @include zen-grid-item(1, 1);
    @include zen-clear();
  }

  .view-display-id-newsarchive  .views-field-title {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    margin-bottom: 10px;
    float: none;
  }

  .view-display-id-newsarchive  .views-field-field-uib-lead {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    min-height: 115px;
  }

  /* Persons mobile */
  .view-ansatte {
    margin-left: 0;
    .uib-ansatte-section .media {
      float: none;
    }
  }

  /* Article mobile */
  .node-uib-article .field-name-field-uib-text {
    @include zen-grid-item(1, 1);
    @include zen-clear();
    float: none;
    width: 100%;
  }

  .article-info {
    border-bottom: solid 1px #DEDFDD;
    height: 100px;
  }

  #node_uib_article_full_group_article_sidebar {
    @include zen-grid-item(1, 1);
    @include zen-clear();
  }

  .node-uib-article .file-video-youtube, .node-uib-article .file-video-vimeo, .node-type-area .file-video-vimeo, .node-type-area .file-video-youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
    iframe.media-youtube-player, iframe.media-vimeo-player {
      @include zen-grid-item(1, 1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  /* Employee page menu */
  .expanded .region-navigation {
    .menu {
      li {
        float: none;
        width: 100%;
      }
    }
  }

  .views-exposed-form {
    .form-item-studypoints-rank {
      .bef-checkboxes {
        div {
          display: block;
        }
      }
    }
  }

  #block-uib-area-area-banner {
    @include zen-clear();
    @include zen-grid-item-base;
    @include zen-grid-item(1, 1);
  }
}

/* Tablet */
@media all and (min-width: 720px) and (max-width: 959px) {
  /*
   * Use 4 grid columns for smaller screens.
   */
  $zen-column-count: 4;

  #main {
    max-width: 722px;

    .node-type-uib-study & {
      max-width: 100%;
    }
  }

  #content {
    @include zen-grid-container();
    @include zen-grid-item(4, 1);
  }

  .region-sidebar-second {
    @include zen-grid-container();
    @include zen-grid-item(4, 1);
    @include zen-clear();
    margin: auto;
  }

  .field-name-field-uib-important-message {
    @include zen-grid-item-base;
    @include zen-grid-item(4, 1);
  }

  .field-name-field-uib-primary-media {
    @include zen-grid-item-base;
    @include zen-grid-item(2, 1);
    @include zen-clear();
  }

  .field-name-field-uib-primary-text {
    @include zen-grid-item(2, 3);
    @include zen-grid-item-base();
  }

  .field-name-field-uib-secondary-text {
    @include zen-clear();
    @include zen-grid-item-base();
    @include zen-grid-item(4, 1);
    li:nth-child(4n+1) {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
    li:nth-child(4n+2) {
      @include zen-grid-item(1, 2);
    }
    li:nth-child(4n+3) {
      @include zen-grid-item(1, 3);
    }
    li:nth-child(4n+4) {
      @include zen-grid-item(1, 4);
    }
  }

  .view-area-slideshow .transparent {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 708px;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .view-area-slideshow img {
    max-width: 708px;
  }
  .slidecontent {
    width: 60%;
  }

  .uib-social-media {
    @include zen-grid-item(4, 1);
    @include zen-grid-item-base;
  }

  #node_area_full_group_column_first {
    @include zen-grid-item(2, 1);
    >.field,
    .field-collection-container,
    .view-faculty-departments-kids {
      @include zen-grid-item-base;
      margin-bottom: $box-spacing;
    }
  }

  #node_area_full_group_column_second {
    @include zen-grid-item(2, 3);
    >.field {
      @include zen-grid-item-base;
      margin-bottom: $box-spacing;
    }
  }

  #node_area_full_group_bottom_wrapper,
  #bottom-region-wrapper {
    @include zen-clear();
  }

  .field-name-field-uib-bottom-media {
    @include zen-grid-item-base;
    @include zen-grid-item(1, 1);
  }

  .field-name-field-uib-bottom-text {
    @include zen-grid-item(3, 2);
    @include zen-grid-item-base;
  }

  /* Area "teaser" block */
  .field-name-field-uib-relation {
    @include zen-clear();
    @include zen-grid-item(4, 1);
  }

  /* Persons list */
  .uib-ansatte-section {
    @include zen-clear();
    @include zen-grid-item(4, 1);
  }

  /* Slideshow tablet */
  .view-area-slideshow .transparent {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 708px;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .view-area-slideshow img {
    max-width: 708px;
  }

  .view-area-slideshow, .views-field-field-uib-main-media {
    width: 100%;
    .media {
      width: 47%;
    }
  }

  #widget_pager_bottom_area_slideshow-default {
    left: 40%;
    top: 90%;
    margin: 3px 0 0;
  }

  .slidecontent {
    bottom: 8%;
    left: 6%;
    h3 {
      color: #fff;
      margin-bottom: 20px !important;
      font-size: 1.5em !important;
      font-weight: normal !important;
    }
  }

  /* Article tablet */
  .node-type-uib-article #content {
    float: none;
  }

  /* Article publishing info */
  .uib-news-byline-created,
  .uib-article-created {
    @include zen-grid-item (1, 1);
  }
  .uib-news-byline-last-updated,
  .uib-article-last-updated  {
    @include zen-grid-item (2, 2);
  }
  .service-links {
    @include zen-grid-item (1, 4);
  }
  .article-info {
    border-bottom: solid 1px #DEDFDD;
  }

  .region-sidebar-second {
    @include zen-grid-item(4, 1);
  }

  .region-sidebar-second {
    float: none;
  }

  .node-uib-article .field-name-field-uib-text {
    @include zen-grid-item(3, 1);
    width: 72%;
  }

  #node_uib_article_full_group_article_sidebar {
    @include zen-grid-item(1, 4);
  }

  /* Responsive video tablet*/
  .node-type-area {
    .no-primary-text {
      .field-name-field-uib-primary-media {
        @include zen-grid-item(4, 1);
        @include zen-clear();
        .file-video {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 10px;
          height: 0;
          overflow: hidden;
          iframe.media-youtube-player, iframe.media-vimeo-player {
            @include zen-grid-item(1, 1);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  /* News archive tablet */
  #block-views-recent-news-block-date-selector {
    ul {
      list-style-type: none;
      margin-top: 0;
    }
    li {
      float: left;
      margin: 10px 0 0 0;
      padding: 0 10px 0 0;
      width: 160px;
    }
  }

  .view-recent-news .views-row {
    @include zen-clear();
    width: 95%;
  }

  .view-recent-news img {
    @include zen-grid-item(1, 1);
  }

  .view-display-id-newsarchive .views-field-title {
    @include zen-grid-item(3, 2);
    margin-bottom: 10px;
    margin-top: 20px;
    float: none;
    padding-left: 15px;
  }

  .view-display-id-newsarchive .views-field-field-uib-lead {
    @include zen-grid-item(3, 2);
    min-height: 115px;
    padding-left: 15px;
  }

  /* Persons list tablet */
  .view-ansatte {
    margin-left: 0;
    .media {
      width: 324px;
    }
  }

  .uib-ansatte-section {
    @include zen-clear();
    @include zen-grid-item(4, 1)
  }

  /* Courses tablet*/
  .view-courses {
    @include zen-grid-item(4, 1);
    @include zen-grid-item-base();
  }

  /* Webdesk */
  .ui-dialog {
    left: 10px !important;
  }

  .vertical-tabs {
    float: left;
    display: block;
    min-width: 406px;
    margin-left: 180px;
  }

    /* Recent phds */
  .view-recent-phds {
    .views-field-field-uib-media {
      @include zen-clear();
      @include zen-grid-item (1, 1);
    }
    .phd-title, .phd-lead {
    @include zen-grid-item (3, 2);
    float: none;
    padding: 0 0 0 20px;
    }
  }

  // Taxonomy term
  .view-uib-taxonomy-term {
    @include zen-clear();
    @include zen-grid-item-base();
    @include zen-grid-item(4, 1);
    .attachment {
      @include zen-clear();
    }
    .view-content {
      @include zen-clear();
      @include zen-grid-item-base();
    }
    .taxonomy-term {
      @include zen-clear();
      .field-name-field-uib-nus-image {
        @include zen-grid-item-base();
        @include zen-grid-item(1, 1);
      }
      .content {
        @include zen-grid-item-base();
        @include zen-grid-item(3, 2);
      }
    }
  }
  .view-uib-nus-overview {
    .field-name-field-uib-nus-image {
      @include zen-grid-item(1, 1);
    }
    h1, .field-name-field-uib-nus-text {
      @include zen-grid-item (3, 2);
      @include zen-grid-item-base();

    }
    h1 {
      float: none;
    }
    .taxonomy-term {
      border-bottom: solid 1px #f1f1ef;

    }
  }
  .views-exposed-form {
    .form-item-studypoints-rank {
      .bef-checkboxes {
        div {
          display: inline;
        }
      }
    }
  }

}

/* Desktop */
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  $zen-column-count: 5;

  .region-bottom {
    .block {
      @include zen-grid-item-base();
    }
    #block-uib-area-colophon {
      @include zen-grid-item(2, 1);
    }
    #block-views-relevant-links-block-1 {
      @include zen-grid-item(1, 3);
    }
    #block-uib-area-colophon-logos {
      @include zen-grid-item(2, 4);
      @include zen-clear(none);
    }
  }


  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content { /* Span 4 columns, starting in 2nd column from left. */
      @include zen-grid-item(4, 1);
    }
    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content { /* Span 4 columns, starting in 1st column from left. */
      @include zen-grid-item(4, 1);
    }
    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
      li {
        margin-bottom: 8px;
      }
    }
  }

  /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content { /* Span 3 columns, starting in 2nd column from left. */
      @include zen-grid-item(3, 2);
    }
    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(1, 1);
    }
    .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
      @include zen-grid-item(1, 5);
    }
  }

  /* Content */
  .front {
    #content {
      margin-top: 0px;
    }
  }

  /* Sidebar background img */
  .one-sidebar #main, .sidebar-second #main {
    background-image: url('../../images/fade-to-left-bg.png');
    background-repeat: repeat-y;
    background-position: 728px, 0;
  }

  $zen-column-count: 4;

  .node-type-area {
    @include zen-grid-item(4, 1);
  }

  /* uib_article nodes */
  #node_uib_testimonial_full_group_article_main,
  .node-uib-article .field-name-field-uib-text {
    @include zen-grid-item(3, 1);
    width: 73%;
  }

  #node_uib_testimonial_full_group_article_sidebar,
  #node_uib_article_full_group_article_sidebar {
    @include zen-grid-item(1, 4)
  }

  .view-ansatte {
    margin-left: 0;
    .media {
      width: 324px;
    }
  }

  /* News archive */
  #block-views-recent-news-block-date-selector {
    ul {
      list-style-type: none;
      margin-top: 0;
    }
    li {
      float:left;
      margin: 10px 0 0 0;
      padding: 0 10px 0 0;
      width: 160px;
      text-transform: capitalize;
    }
  }

  .view-recent-news .views-row {
    @include zen-clear();
    width: 95%;
  }

  .view-recent-news img {
    @include zen-grid-item(1, 1);
  }


  .view-display-id-newsarchive  .views-field-title {
    @include zen-grid-item(3, 2);
    margin-bottom: 10px;
    margin-top: 20px;
    float: none;
    padding-left: 15px;
  }

  .view-display-id-newsarchive  .views-field-field-uib-lead {
    @include zen-grid-item(3, 2);
    min-height: 115px;
    padding-left: 15px;
    float: none;
  }

  /* Global header */
  $zen-column-count: 5;

  #global-menu {
    @include zen-grid-item(3, 1)
  }

  #global-searchform {
    @include zen-grid-item(2, 4);
    p {
      margin-top: 10px;
    }
  }

  #navigation {
    @include zen-grid-item(5, 1);
  }

  #block-locale-language--2 {
    display: none;
  }

  /* Area page */
  $zen-column-count: 4;

  .field-name-field-uib-important-message {
    @include zen-grid-item-base;
    @include zen-grid-item(4, 1);
  }

  .field-name-field-uib-primary-media {
    @include zen-grid-item-base;
    @include zen-grid-item(2, 1);
    @include zen-clear();
  }

  .node-type-area {
    .no-primary-text {
      .field-name-field-uib-primary-media {
        @include zen-grid-item-base;
        @include zen-grid-item(4, 1);
        @include zen-clear();
        .file-video {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 10px;
          height: 0;
          overflow: hidden;
          iframe.media-youtube-player, iframe.media-vimeo-player {
            @include zen-grid-item(1, 1);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .field-name-field-uib-primary-text {
    @include zen-grid-item-base;
    @include zen-grid-item(2, 3);
  }

  .field-name-field-uib-owner,
  .field-name-field-uib-copyright,
  .field-name-field-uib-description {
    @include zen-clear();
    padding-left: 10px;
  }

  .field-name-field-uib-secondary-text {
    @include zen-clear();
    @include zen-grid-item-base();
    @include zen-grid-item(4, 1);
    li:nth-child(4n+1) {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
    li:nth-child(4n+2) {
      @include zen-grid-item(1, 2);
    }
    li:nth-child(4n+3) {
      @include zen-grid-item(1, 3);
    }
    li:nth-child(4n+4) {
      @include zen-grid-item(1, 4);
    }
  }

  #node_area_full_group_column_first {
    @include zen-grid-item(2, 1);
  }

  .full-width #node_area_full_group_column_first {
    @include zen-grid-item(4, 1);
  }

  #node_area_full_group_column_second {
    @include zen-grid-item(2, 3);
  }

  .full-width #node_area_full_group_column_second {
    @include zen-grid-item(4, 1);
  }

  #node_area_full_group_column_first,
  #node_area_full_group_column_second {
    >.field,
    .field-collection-container,
    .view-faculty-departments-kids {
      @include zen-grid-item-base;
      margin-bottom: $box-spacing;
    }
  }


  #node_area_full_group_bottom_wrapper {
    @include zen-clear();
  }

  .field-name-field-uib-bottom-media {
    @include zen-grid-item-base;
    @include zen-grid-item(1, 1);
  }

  .field-name-field-uib-bottom-text {
    @include zen-grid-item(3, 2);
    @include zen-grid-item-base;
  }

  /* Area "teaser" block */
  .field-name-field-uib-relation {
    @include zen-clear();
    @include zen-grid-item(4, 1);
  }

  /* Persons list */
  .uib-ansatte-section {
    @include zen-clear();
    @include zen-grid-item(4, 1);
  }

  /* Breadcrumb */
  nav.breadcrumb {
    @include zen-grid-item(4, 1);
    float: none;
  }

  /* Slideshow */
  .view-area-slideshow {
    @include zen-clear();
    @include zen-grid-item(4, 1);
    .transparent {
      position: absolute;
      bottom: 4px;
      left: 0px;
      width: 708px;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.8);
      .slidecontent {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .view-area-slideshow img {
    max-width: 708px;
  }

  .view-area-slideshow, .views-field-field-uib-main-media {
    width: 100%;
  }

  #widget_pager_bottom_area_slideshow-default {
    left: 40%;
    top: 90%;
    margin: 3px 0 0;
  }

  .slidecontent {
    bottom: 8%;
    left: 6%;
    width: 60%;
    h3 {
      color: #fff;
      margin-bottom: 15px !important;
      font-size: 1.5em !important;
      font-weight: normal !important;
    }
  }

  .uib-social-media {
    @include zen-clear();
    @include zen-grid-item(4, 1);
    @include zen-grid-item-base;
  }

  /* Courses */
  .view-courses {
    @include zen-grid-item(4, 1);
    @include zen-grid-item-base();
  }

  /* Recent phds */
  .view-recent-phds {
    .views-field-field-uib-media {
      @include zen-clear();
      @include zen-grid-item (1, 1);
    }
    .phd-title, .phd-lead {
    @include zen-grid-item (3, 2);
    float: none;
    padding: 0 0 0 20px;
    }
  }
  /* Automatic news feed on news page */
  .newspage_node .node-uib-article {
    .field-name-field-uib-main-media-recent-news {
      @include zen-grid-item (1, 1);
    }
    .field-name-field-uib-kicker {
      margin-top: 0;
    }
  }

  /* Article publishing info */
  .uib-news-byline-created,
  .uib-article-created {
    @include zen-grid-item (1, 1);
  }
  .uib-news-byline-last-updated,
  .uib-article-last-updated {
    @include zen-grid-item (2, 2);
  }
  .service-links {
    @include zen-grid-item (1, 4);
  }
  .article-info {
    border-bottom: solid 1px #DEDFDD;
  }

  /* Employee page menu */
  .expanded .region-navigation {
    .menu {
      li {
        float: left;
        width: 20%;
      }
    }
  }

  /* Webdesk */
  .vertical-tabs {
    float: left;
    display: block;
    min-width: 706px;
    margin-left: 180px;
  }

  /* Study */
  #block-uib-study-study-facts table, #block-uib-study-study-contact table {
    min-width: 336px;
  }

  /* Study filters */
  #views-exposed-form-courses-study-programmes-all-page {
    $zen-column-count: 4;
    .views-widget-filter-term_node_tid_depth {
      @include zen-grid-item (2, 1);
    }
    .views-widget-filter-field_uib_study_category_value {
      @include zen-grid-item (2, 3);
    }
  }
  .view-courses,
  .view-special-study-listings,
  .view-uib-taxonomy-term .view-content {
    .views-submit-button {
      @include zen-grid-item (1, 4);
      @include zen-clear();
    }
  }

  $zen-column-count: 5;

  // Taxonomy term
  .view-uib-taxonomy-term {
    @include zen-clear();
    @include zen-grid-item-base();
    @include zen-grid-item(5, 1);
    .attachment {
      @include zen-clear();
    }
    .view-content {
      @include zen-clear();
      @include zen-grid-item-base();
    }
    .taxonomy-term {
      @include zen-clear();
      .field-name-field-uib-nus-image {
        @include zen-grid-item-base();
        @include zen-grid-item(1, 1);
      }
      .content {
        @include zen-grid-item-base();
        @include zen-grid-item(4, 2);
      }
    }
  }
  #uib-tabs-studieplan {
    @include zen-grid-item (4, 1);
  }
  .page-education-nus {
    #page-title {
      @include zen-grid-item (4, 2);
      @include zen-grid-item-base();
    }
    .view-uib-nus-overview {
      @include zen-clear();
      .field-name-field-uib-nus-image {
        @include zen-grid-item(1, 1);
      }
      h1,
      .field-name-field-uib-nus-text {
        @include zen-grid-item (4, 2);
        @include zen-grid-item-base();
      }
      h1 {
        float: none;
      }
      .taxonomy-term {
        border-bottom: solid 1px #f1f1ef;
      }
    }
  }

  .views-exposed-form {
    .form-item-studypoints-rank {
      .bef-checkboxes {
        div {
          display: inline;
        }
      }
    }
  }

}
